@import "../style/bootstrap/bootstrap-grid.min.css";

$primaryBGColor: #fffcfb;
$secondaryBGColor: #fdf8ef;
$secondaryColor900: #1a1f31;
$secondaryColor800: #1e2334;
$primary2Color700: #1c9b89;
$primary2Color500: #67c6b8;
$primary2Color400: #a4e3db;
$primaryColor700: #a98109;
$primaryColor500: #ffc10e;
$primaryColor400: #ffe149;

* {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
  line-height: auto;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: "Noto Sans TC", sans-serif;
  vertical-align: baseline;
}

.navbar-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.logo {
  width: 136.5px;
  height: 40px;
  background-image: url("../img/logoPart_STANLEY.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 0.2s ease;
  cursor: pointer;
  &:hover {
    background-image: url("../img/logoFull_STANLEY.png");
    filter: drop-shadow(0 0 5px rgba(white, 0.5));
  }
}

.logo-phone {
  width: 136.5px;
  height: 40px;
  margin: 10px;
  background-image: url("../img/logoFull_STANLEY.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.navbar {
  position: fixed;
  width: 100%;
  border-bottom: $primaryBGColor 1px solid;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;

  .navbar-list {
    display: flex;
    position: relative;
  }

  .list-items {
    position: relative;
    padding: 8px 24px;
    display: inline-block;
    margin: 20px 12px;
    transition: all 0.1s ease-out;
    color: $primaryBGColor;
    cursor: pointer;

    &:hover {
      color: $primaryColor500;
      font-weight: 400;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 2px;
      background: $primaryColor500;
      border-radius: 5px;
      transform: scaleX(0);
      transition: transform 0.1s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}

.navbar-btn-phone {
  font-size: 20px;
  color: $secondaryBGColor;
  float: right;
  line-height: 30px;
  margin-right: 20px;
  margin-bottom: 4px;
  cursor: pointer;
}

#navbar-check-phone {
  display: none;
}

.navbar-list-phone {
  position: fixed;
  width: 50%;
  height: -100px;
  background-color: rgba($color: #000000, $alpha: 0.8);
  top: 61px;
  right: -50%;
  text-align: center;
  transition: all 0.3s ease;
  li {
    display: block;
    padding: 16px;
    border-bottom: $secondaryBGColor 1px solid;
    a {
      font-size: 16px;
      color: $secondaryBGColor;
      &:active {
        color: $primaryColor500;
      }
    }
  }
}

#navbar-check-phone:checked ~ ul {
  right: 0;
}

.header-background {
  position: relative;
}

.logo-about-me {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 0.2s ease;
  &:hover {
    background-image: url("../img/logoFull_STANLEY.png");
    filter: drop-shadow(0 0 5px rgba($primaryColor400, 0.5));
  }
}

.intro-about-me {
  color: $primaryBGColor;
}

.to-works {
  padding: 64px 80px;
  bottom: 0px;
  right: 0px;
}

.word-to-works {
  right: 200px;
  top: 640px;
  padding-right: 32px;
}

.fa-circle-arrow-down {
  color: #ffc10e;
  font-size: 64px;
  transform: rotate(-90deg);
  transition: all 0.3s ease;
  &:hover {
    transform: rotate(0deg);
    filter: drop-shadow(0 0 5px rgba($primaryColor400, 0.8));
  }

  &:active {
    transform: scale(0.9);
  }
}

.about-me-bg {
  background-image: url("../img/about-me-bg.jpg");
  max-width: 1920px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.avatar-2 {
  background-image: url("../img/avatar-2.jpg");
  background-size: contain;
}

.abilities {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: $secondaryBGColor;
}

.introdution,
.education,
.experience {
  width: 100%;
}

.result {
  width: 80%;
}

.toolsAndSkills {
  width: 100%;
}

.skill-cont {
  .skill {
    position: flex;
    width: 160px;
    height: 160px;
    margin: 16px;
  }

  .skill-circle-outer {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 2px 2px 4px -1px rgba(0, 0, 0, 0.2),
      inset -2px -2px 4px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.01),
      0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  }

  .skill-circle-inner {
    position: relative;
    width: 140px;
    height: 140px;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    background-color: $secondaryBGColor;
    box-shadow: 3px 3px 8px -3px rgba(0, 0, 0, 0.1),
      -6px -6px 8px -1px rgba(249, 254, 255, 0.7);
  }

  .img-ai {
    width: 118px;
    height: 118px;
    background-image: url("../img/PORTFOLIO_ai_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 12px 12px;
  }

  .img-html5 {
    width: 118px;
    height: 118px;
    background-image: url("../img/PORTFOLIO_html5_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 12px 12px;
  }

  .img-figma {
    width: 118px;
    height: 118px;
    background-image: url("../img/PORTFOLIO_figma_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 12px 12px;
  }

  .img-ps {
    width: 118px;
    height: 118px;
    background-image: url("../img/PORTFOLIO_ps_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 12px 12px;
  }

  .img-css3 {
    width: 118px;
    height: 118px;
    background-image: url("../img/PORTFOLIO_css3_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 12px 12px;
  }

  .img-ppt {
    width: 118px;
    height: 118px;
    background-image: url("../img/PORTFOLIO_ppt_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 12px 12px;
  }

  .figma_circle {
    fill: none;
    stroke: $primaryColor500;
    stroke-width: 8px;
    stroke-dasharray: 402 472;
    stroke-dashoffset: 350;
    transform-origin: center;
    transform: rotate(-90deg);
    animation: valueAnim 2s ease forwards;
  }

  .ai_circle {
    fill: none;
    stroke: $primaryColor500;
    stroke-width: 8px;
    stroke-dasharray: 452 472;
    stroke-dashoffset: 400;
    transform-origin: center;
    transform: rotate(-90deg);
    animation: valueAnim 2s ease forwards;
  }

  .ps_circle {
    fill: none;
    stroke: $primaryColor500;
    stroke-width: 8px;
    stroke-dasharray: 432 472;
    stroke-dashoffset: 380;
    transform-origin: center;
    transform: rotate(-90deg);
    animation: valueAnim 2s ease forwards;
  }

  .ppt_circle {
    fill: none;
    stroke: $primaryColor500;
    stroke-width: 8px;
    stroke-dasharray: 412 472;
    stroke-dashoffset: 360;
    transform-origin: center;
    transform: rotate(-90deg);
    animation: valueAnim 2s ease forwards;
  }

  .html5_circle {
    fill: none;
    stroke: $primaryColor500;
    stroke-width: 8px;
    stroke-dasharray: 332 472;
    stroke-dashoffset: 280;
    transform-origin: center;
    transform: rotate(-90deg);
    animation: valueAnim 2s ease forwards;
  }

  .css3_circle {
    fill: none;
    stroke: $primaryColor500;
    stroke-width: 8px;
    stroke-dasharray: 272 472;
    stroke-dashoffset: 220;
    transform-origin: center;
    transform: rotate(-90deg);
    animation: valueAnim 2s ease forwards;
  }
}

svg {
  position: absolute;
  top: -21.5px;
  left: -21.5px;
}

.works-bg {
  background-image: url("../img/works-bg.jpg");
  max-width: 1920px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.works {
  position: relative;
}

.works-btn {
  display: inline-block;
  margin: 36px auto;
  position: relative;
  min-width: 90%;
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  color: $secondaryColor900;
  box-shadow: 3px 3px 8px -3px rgba(0, 0, 0, 0.1),
    -6px -6px 8px -1px rgba(249, 254, 255, 0.7);
  transition: all 0.3s ease;

  &:hover {
    color: $secondaryBGColor;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 62px;
    width: 100%;
    height: 2px;
    background: $secondaryBGColor;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
  }

  &:hover::after {
    transform: scaleX(0.1);
  }
}

.graphic-D {
  background-image: url("../img/bg_graphic-D.jpg");

  &:hover {
    background-image: url("../img/filter-1.jpg");
  }
}

.poster-D {
  background-image: url("../img/bg_poster-D.jpg");

  &:hover {
    color: $secondaryBGColor;
    background-image: url("../img/filter-2.jpg");
  }
}

.logo-D {
  background-image: url("../img/bg_logo-D.jpg");

  &:hover {
    background-image: url("../img/filter-3.jpg");
  }
}

.others-D {
  background-image: url("../img/bg_others-D.jpg");
  &:hover {
    background-image: url("../img/filter-3.jpg");
  }
}

.contact-me-bg {
  background-image: url("../img/contact-me-bg.jpg");
  max-width: 1920px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.contact-form {
  background: $secondaryBGColor;
  margin: 40px 0;

  .name-box {
    display: flex;
    justify-content: center;
  }

  .input-name-wrapper {
    display: flex;
    align-items: center;
  }

  .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;

    .name-text {
      display: inline-block;
      width: 30%;
    }

    .input-text {
      background-color: $secondaryBGColor;
      color: $primaryColor700;
      width: 100%;
      padding: 5px 0;
      font-size: 1rem;
      margin: 10px 0;
      border: none;
      border-bottom: 1px solid #aaa;
      outline: none;
      resize: none;

      &:focus ~ span,
      &:valid ~ span {
        transition: all 0.3s ease;
        color: $primaryColor700;
        font-size: 0.75rem;
        transform: translateY(-20px);
      }
    }

    span {
      position: absolute;
      left: 0;
      padding: 5px 0;
      font-size: 1rem;
      margin: 10px 0;
      pointer-events: none;
      transition: 0.5s;
      color: #666;
    }
  }
}

.footer {
  background-color: $primaryColor500;
  color: $primaryBGColor;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn {
  text-align: center;
  margin: 10px;
  padding: 20px 60px;
  background-color: $primaryColor500;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: $primaryColor400;
  }

  &:active {
    background-color: $primaryColor700;
  }
}

.contant-me-img {
  background-image: url("../img/color-collection.png");
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 40px 10px;
  width: 50%;
  margin: 40px 0;
}

// Utilities
.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}

.inline-block {
  display: inline-block;
}

.z-index-99 {
  z-index: 99;
}

.z-index--99 {
  z-index: -99;
}

.font-weight-100 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
}

.font-weight-300 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
}

.font-weight-400 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}

.font-weight-500 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
}

.font-weight-700 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
}

.font-weight-900 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 900;
}
.pd-8 {
  padding: 8px;
}

.pdl-8 {
  padding-left: 8px;
}

.pdt-8 {
  padding-top: 8px;
}

.pdb-8 {
  padding-bottom: 8px;
}

.pd-16 {
  padding: 16px;
}

.pdl-16 {
  padding-left: 16px;
}

.pdt-16 {
  padding-top: 16px;
}

.pdb-16 {
  padding-bottom: 16px;
}

.pd-24 {
  padding: 24px;
}

.pdl-24 {
  padding-left: 24px;
}

.pdt-24 {
  padding-top: 24px;
}

.pdb-24 {
  padding-bottom: 24px;
}

.pd-32 {
  padding: 32px;
}

.pdl-32 {
  padding-left: 32px;
}

.pdt-32 {
  padding-top: 32px;
}

.pdb-32 {
  padding-bottom: 32px;
}

.pdl-64 {
  padding-left: 64px;
}

.pdt-64 {
  padding-top: 64px;
}

.pdb-64 {
  padding-bottom: 64px;
}

.pdl-96 {
  padding-left: 96px;
}

.pdt-96 {
  padding-top: 96px;
}

.pdb-96 {
  padding-bottom: 96px;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.5s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

@keyframes valueAnim {
  100% {
    stroke-dashoffset: 0;
  }
}

.bg-filter {
  background-color: rgba($color: black, $alpha: 0.8);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.title {
  padding: 1rem;
  color: white;
  border-bottom: $primaryColor500 solid 3px;
  z-index: 0;
}

strong {
  color: $primary2Color700;
}

//media RWD
@media screen and (max-width: 1920px) and (min-width: 1441px) {
  .navbar-pc {
    display: block;
  }

  .navbar-phone {
    display: none;
  }

  .navbar {
    top: -100px;
  }

  .header-background {
    background-image: url("../img/background.jpg");
    height: 1080px;
    background-size: cover;
    background-position: center center;
  }

  .avatar-1 {
    position: absolute;
    top: 0;
    left: 35%;
    transform: translateX(-50%);
    height: 1080px;
  }

  .avatar-1-pad {
    display: none;
  }

  .avatar-1-phone {
    display: none;
  }

  .logo-about-me {
    top: 32px;
    left: 56px;
    width: 300px;
    height: 100px;
    background-image: url("../img/logoPart_STANLEY.png");
  }
  .cover {
    position: relative;
    height: 1080px;
  }

  .cover-flex {
    display: flex;
  }

  .cover1 {
    background-image: url("../img/cover1.png");
    width: 23%;
    background-size: cover;
  }

  .cover2 {
    background-image: url("../img/cover2.png");
    width: 23%;
    background-size: cover;
  }

  .cover3 {
    background-image: url("../img/cover3.png");
    width: 25%;
    background-size: cover;
  }

  .cover4 {
    background-image: url("../img/cover4.png");
    width: 23%;
    background-size: cover;
  }

  .intro-about-me {
    padding: 64px 80px;
    bottom: 340px;
  }

  .to-works {
    padding: 24px 32px;
    bottom: 0px;
    right: 0px;
  }

  .avatar-2 {
    width: 640px;
    height: 560px;
  }

  .about-me-1 {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: white;
  }

  .about-me-1-phone {
    display: none;
  }

  .about-me-2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: $secondaryBGColor;
  }

  .about-me-2-column {
    display: none;
  }

  .bg-filter {
    height: 248px;
  }

  .skill-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .works-btn {
    margin: 36px auto;
    height: 320px;
  }

  .works-words {
    position: absolute;
    top: 120px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    padding: 40px 80px;
    width: 50%;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
  }

  h2 {
    font-size: 3rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    font-weight: 300;
  }

  a {
    font-size: 1rem;
    font-weight: 100;
    text-decoration: none;
  }

  h5 {
    font-size: 0.5rem;
    font-weight: 100;
  }

  hr {
    border: $primaryColor500 solid 1px;
    margin-bottom: 20px;
  }

  span {
    line-height: 2rem;
  }
}

textarea {
  height: 340px;
}

@media screen and (max-width: 1440px) and (min-width: 1281px) {
  .navbar-pc {
    display: block;
  }

  .navbar-phone {
    display: none;
  }

  .navbar {
    top: -100px;
  }

  .header-background {
    background-image: url("../img/background.jpg");
    height: 789px;
    background-size: cover;
    background-position: center center;
  }

  .avatar-1 {
    position: absolute;
    top: 0;
    left: 35%;
    transform: translateX(-50%);
    height: 789px;
  }

  .avatar-1-pad {
    display: none;
  }

  .avatar-1-phone {
    display: none;
  }

  .logo-about-me {
    top: 32px;
    left: 56px;
    width: 300px;
    height: 100px;
    background-image: url("../img/logoPart_STANLEY.png");
  }
  .cover-flex {
    display: flex;
  }

  .cover {
    position: relative;
    height: 789px;
  }

  .cover1 {
    background-image: url("../img/cover1.png");
    width: 23%;
    background-size: cover;
  }

  .cover2 {
    background-image: url("../img/cover2.png");
    width: 23%;
    background-size: cover;
  }

  .cover3 {
    background-image: url("../img/cover3.png");
    width: 25%;
    background-size: cover;
  }

  .cover4 {
    background-image: url("../img/cover4.png");
    width: 23%;
    background-size: cover;
  }

  .intro-about-me {
    padding: 64px 80px;
    bottom: 180px;
  }

  .to-works {
    padding: 24px 32px;
    bottom: 0px;
    right: 0px;
  }

  .avatar-2 {
    width: 480px;
    height: 420px;
  }

  .about-me-1 {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: white;
  }

  .about-me-1-phone {
    display: none;
  }

  .about-me-2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: $secondaryBGColor;
  }

  .about-me-2-column {
    display: none;
  }

  .bg-filter {
    height: 248px;
  }

  .skill-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .works-btn {
    margin: 36px auto;
    height: 220px;
  }

  .works-words {
    position: absolute;
    top: 90px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    padding: 40px 80px;
    width: 50%;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
  }

  h2 {
    font-size: 3rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    font-weight: 300;
  }

  a {
    font-size: 1rem;
    font-weight: 100;
    text-decoration: none;
  }

  h5 {
    font-size: 0.5rem;
    font-weight: 100;
  }

  hr {
    border: $primaryColor500 solid 1px;
    margin-bottom: 20px;
  }

  span {
    line-height: 1.8rem;
  }

  textarea {
    height: 100px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 821px) {
  .navbar-pc {
    display: block;
  }

  .navbar-phone {
    display: none;
  }

  .navbar {
    top: -100px;
  }

  .header-background {
    background-image: url("../img/background.jpg");
    height: 720px;
    background-size: cover;
    background-position: center center;
  }

  .avatar-1 {
    position: absolute;
    top: 0;
    left: 35%;
    transform: translateX(-50%);
    height: 720px;
  }

  .avatar-1-pad {
    display: none;
  }

  .avatar-1-phone {
    display: none;
  }

  .logo-about-me {
    top: 32px;
    left: 56px;
    width: 300px;
    height: 100px;
    background-image: url("../img/logoPart_STANLEY.png");
  }
  .cover {
    position: relative;
    height: 720px;
  }

  .cover-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .cover1 {
    background-image: url("../img/cover1.png");
    width: 23%;
    background-size: cover;
  }

  .cover2 {
    background-image: url("../img/cover2.png");
    width: 23%;
    background-size: cover;
  }

  .cover3 {
    background-image: url("../img/cover3.png");
    width: 25%;
    background-size: cover;
  }

  .cover4 {
    background-image: url("../img/cover4.png");
    width: 23%;
    background-size: cover;
  }

  .intro-about-me {
    padding: 64px 80px;
    bottom: 150px;
  }

  .to-works {
    padding: 24px 32px;
    bottom: 0px;
    right: 0px;
  }

  .avatar-2 {
    width: 480px;
    height: 420px;
  }

  .about-me-1 {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: white;
  }

  .about-me-1-phone {
    display: none;
  }

  .about-me-2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: $secondaryBGColor;
  }

  .about-me-2-column {
    display: none;
  }

  .bg-filter {
    height: 248px;
  }

  .skill-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .works-btn {
    margin: 12px auto;
    height: 220px;
  }

  .works-words {
    position: absolute;
    top: 85px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    padding: 40px 80px;
    width: 50%;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
  }

  h2 {
    font-size: 3rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    font-weight: 300;
  }

  a {
    font-size: 1rem;
    font-weight: 100;
    text-decoration: none;
  }

  h5 {
    font-size: 0.5rem;
    font-weight: 100;
  }

  hr {
    border: $primaryColor500 solid 1px;
    margin-bottom: 20px;
  }

  span {
    line-height: 1.8rem;
  }

  textarea {
    height: 80px;
  }
}

@media screen and (max-width: 820px) and (min-width: 431px) {
  .navbar-pc {
    display: none;
  }

  .navbar-phone {
    display: block;
  }

  .navbar {
    top: 0;
  }

  .header-background {
    background-image: url("../img/background.jpg");
    height: 1180px;
    background-size: cover;
    background-position: center center;
  }

  .avatar-1 {
    display: none;
  }

  .avatar-1-pad {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1180px;
  }

  .avatar-1-phone {
    display: none;
  }

  .logo-about-me {
    display: none;
  }
  .cover-flex {
    display: none;
  }

  .intro-about-me {
    padding: 12px 24px;
    top: 520px;
    color: $primaryBGColor;
  }

  .to-works {
    padding: 24px 32px;
    top: -280px;
    right: 0px;
  }

  .word-to-works {
    right: 200px;
    top: 640px;
    padding-right: 32px;
  }

  .avatar-2 {
    width: 320px;
    height: 280px;
  }

  .about-me-1 {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: white;
  }

  .about-me-1-phone {
    display: none;
  }

  .about-me-2 {
    display: none;
  }

  .about-me-2-column {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: $secondaryBGColor;
  }

  .bg-filter {
    height: 208px;
  }

  .skill-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .works-btn {
    margin: 60px auto;
    height: 220px;
  }

  .works-words {
    position: absolute;
    top: 85px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    padding: 10px 20px;
    width: 100%;
  }

  .contant-me-img {
    display: none;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 0.75rem;
  }

  p {
    font-size: 0.5rem;
  }

  h5 {
    font-size: 0.25rem;
  }

  textarea {
    height: 280px;
  }
}

@media screen and (max-width: 430px) {
  .navbar-pc {
    display: none;
  }

  .navbar-phone {
    display: block;
  }

  .navbar {
    top: 0;
  }

  .header-background {
    background-image: url("../img/background-phone.png");
    height: 932px;
    background-size: cover;
    background-position: center center;
  }

  .avatar-1 {
    display: none;
  }

  .avatar-1-pad {
    display: none;
  }

  .avatar-1-phone {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 932px;
  }

  .logo-about-me {
    display: none;
  }
  .cover-flex {
    display: none;
  }

  .intro-about-me {
    padding: 24px 24px;
    top: 670px;
    left: 64px;
    color: $primaryBGColor;
    transform: scale(2);
  }

  .to-works {
    display: none;
  }

  .word-to-works {
    display: none;
  }

  .btn-works {
    display: none;
  }

  .avatar-2 {
    width: 320px;
    height: 280px;
  }

  .about-me-1 {
    display: none;
  }

  .about-me-1-phone {
    padding: 32px;
    background-color: white;
  }

  .about-me-2 {
    display: none;
  }

  .about-me-2-column {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: $secondaryBGColor;
  }

  .bg-filter {
    height: 208px;
  }

  .skill-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .skill {
      width: 140px;
      height: 140px;
      margin: 10px;
    }
  }

  .works-btn {
    margin: 12px auto;
    height: 320px;
  }

  .works-words {
    position: absolute;
    top: 140px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    padding: 10px 20px;
    width: 100%;
  }

  .contant-me-img {
    display: none;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 0.75rem;
  }

  p {
    font-size: 0.5rem;
  }

  h5 {
    font-size: 0.25rem;
  }

  textarea {
    height: 240px;
  }
}
