@import "../style/bootstrap/bootstrap-grid.min.css";

$primaryBGColor: #fffcfb;
$secondaryBGColor: #fdf8ef;
$greyColor900: #333333;
$greyColor600: #666666;
$primary2Color700: #1c9b89;
$primary2Color500: #67c6b8;
$primary2Color400: #a4e3db;
$primaryColor700: #a98109;
$primaryColor500: #ffc10e;
$primaryColor400: #ffcd5f;

* {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
  line-height: auto;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: "Noto Sans TC", sans-serif;
  vertical-align: baseline;
}

.background-home {
  background-color: $secondaryBGColor;
  position: relative;
}

.home-logo {
  position: absolute;
  background-image: url("../img/logoPart_STANLEY.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 0.2s ease;
  &:hover {
    background-image: url("../img/logoFull_STANLEY.png");
    filter: drop-shadow(0 0 5px rgba($primaryColor400, 0.5));
  }
}

.home-hello {
  text-align: right;
  color: $primaryColor700;
}

.home-my-job {
  color: $primaryColor700;
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-center-avatar {
  position: absolute;
}

.shape-3,
.shape-2,
.shape-1,
.avatar-1 {
  width: 45vw;
  height: auto;
}

.shape-3 {
  animation: spin 11s linear infinite;
}

.shape-2 {
  animation: counterspin 8s linear infinite;
}

.shape-1 {
  animation: spin 16s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes counterspin {
  100% {
    transform: rotate(-360deg);
  }
}

.about-me-bg {
  background-image: url("../img/about-me-bg.jpg");
  max-width: 1920px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.avatar-2 {
  background-image: url("../img/avatar-2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.abilities {
  margin: auto;
  background-color: $secondaryBGColor;
}

.skill-cont {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .skill-bar {
    background-color: $primaryBGColor;
    display: block;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    overflow: hidden;
  }

  .skill-value {
    float: left;
    background: linear-gradient(
      60deg,
      $primaryColor500 0%,
      $primaryColor400 100%
    );
  }

  .skill-ai {
    width: 90%;
  }

  .skill-ps {
    width: 85%;
  }

  .skill-html5 {
    width: 80%;
  }

  .skill-css3 {
    width: 80%;
  }

  .skill-figma {
    width: 80%;
  }

  .skill-ppt {
    width: 85%;
  }
}

.works-bg {
  background-image: url("../img/works-bg.jpg");
  max-width: 1920px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.works {
  position: relative;
}

.works-btn {
  display: inline-block;
  margin: 36px auto;
  position: relative;
  top: 0;
  min-width: 90%;
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  color: $greyColor900;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

  &:hover {
    color: $secondaryBGColor;
    top: -12px;
    box-shadow: 1px 6px 12px 8px rgba(0, 0, 0, 0.1);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 62px;
    width: 100%;
    height: 2px;
    background: $secondaryBGColor;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
  }

  &:hover::after {
    transform: scaleX(0.1);
  }
}

.uiux-D {
  background-image: url("../img/bg_uiux-D.jpg");
  &:hover {
    background-image: url("../img/filter-5.jpg");
  }
}

.graphic-D {
  background-image: url("../img/bg_graphic-D.jpg");
  &:hover {
    background-image: url("../img/filter-1.jpg");
  }
}

.poster-D {
  background-image: url("../img/bg_poster-D.jpg");

  &:hover {
    background-image: url("../img/filter-2.jpg");
  }
}

.logo-D {
  background-image: url("../img/bg_logo-D.jpg");

  &:hover {
    background-image: url("../img/filter-3.jpg");
  }
}

.project-D {
  background-image: url("../img/bg_project-D.jpg");
  &:hover {
    background-image: url("../img/filter-4.jpg");
  }
}

.contact-me {
  background-color: $secondaryBGColor;
}

.contact-form {
  background: $secondaryBGColor;
  margin: 40px 0;

  .name-box {
    display: flex;
    justify-content: center;
  }

  .input-name-wrapper {
    display: flex;
    align-items: center;
  }

  .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;

    .name-text {
      display: inline-block;
      width: 30%;
    }

    .input-text {
      background-color: $secondaryBGColor;
      color: $primaryColor700;
      width: 100%;
      padding: 5px 0;
      font-size: 1rem;
      margin: 10px 0;
      border: none;
      border-bottom: 1px solid #aaa;
      outline: none;
      resize: none;

      &:focus ~ span,
      &:valid ~ span {
        transition: all 0.3s ease;
        color: $primaryColor700;
        font-size: 0.75rem;
        transform: translateY(-20px);
      }
    }

    span {
      position: absolute;
      left: 0;
      padding: 5px 0;
      font-size: 1rem;
      margin: 10px 0;
      pointer-events: none;
      transition: 0.5s;
      color: #666;
    }
  }
}

.footer {
  background-color: $primaryColor500;
  color: $primaryBGColor;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn {
  text-align: center;
  margin: 10px;
  padding: 20px 60px;
  background-color: $primaryColor500;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $primaryColor400;
    box-shadow: 1px 6px 12px 8px rgba(0, 0, 0, 0.1);
  }

  &:active {
    background-color: $primaryColor700;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
  }
}

// Utilities
.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}

.inline-block {
  display: inline-block;
}

.z-index-99 {
  z-index: 99;
}

.z-index--99 {
  z-index: -99;
}

.font-weight-100 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
}

.font-weight-300 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
}

.font-weight-400 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}

.font-weight-500 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
}

.font-weight-700 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
}

.font-weight-900 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 900;
}
.pd-8 {
  padding: 8px;
}

.pdl-8 {
  padding-left: 8px;
}

.pdt-8 {
  padding-top: 8px;
}

.pdb-8 {
  padding-bottom: 8px;
}

.pd-16 {
  padding: 16px;
}

.pdl-16 {
  padding-left: 16px;
}

.pdt-16 {
  padding-top: 16px;
}

.pdb-16 {
  padding-bottom: 16px;
}

.pd-24 {
  padding: 24px;
}

.pdl-24 {
  padding-left: 24px;
}

.pdt-24 {
  padding-top: 24px;
}

.pdb-24 {
  padding-bottom: 24px;
}

.pd-32 {
  padding: 32px;
}

.pdl-32 {
  padding-left: 32px;
}

.pdt-32 {
  padding-top: 32px;
}

.pdb-32 {
  padding-bottom: 32px;
}

.pdl-64 {
  padding-left: 64px;
}

.pdt-64 {
  padding-top: 64px;
}

.pdb-64 {
  padding-bottom: 64px;
}

.pdl-96 {
  padding-left: 96px;
}

.pdt-96 {
  padding-top: 96px;
}

.pdb-96 {
  padding-bottom: 96px;
}

.mg-24 {
  margin: 24px;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.5s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

@keyframes valueAnim {
  100% {
    stroke-dashoffset: 0;
  }
}

.bg-filter {
  background-color: rgba($color: black, $alpha: 0.8);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.title {
  padding: 1rem;
  color: white;
  border-bottom: $primaryColor500 solid 3px;
  z-index: 0;
}

strong {
  color: $primary2Color700;
}

//media RWD
@media screen and (min-width: 1441px) {
  .background-home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
  }

  .home-hello {
    width: 30%;
  }

  .home-my-job {
    width: 30%;
    h1 {
      color: #333333;
    }
  }

  .bnt-cont {
    background: $secondaryBGColor;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-around;

    .btn-menu {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 0;
      font-size: 1rem;
      &.btn-menu {
        width: 12rem;
        height: auto;
        .circle {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: relative;
          display: block;
          margin: 0;
          width: 3rem;
          height: 3rem;
          background: $primaryColor500; //按鈕顏色
          border-radius: 1rem;
          .icon {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            &.arrow {
              transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
              left: 0.625rem;
              width: 1.125rem;
              height: 0.125rem;
              background: none;
              &::before {
                position: absolute;
                content: "";
                top: -0.25rem;
                right: 0.0625rem;
                width: 0.625rem;
                height: 0.625rem;
                border-top: 0.125rem solid #fff;
                border-right: 0.125rem solid #fff;
                transform: rotate(45deg);
              }
            }
          }
        }
        .btn-text {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 0.55rem 0;
          margin: 0 0 0 1.85rem;
          color: $primaryColor700;
          font-weight: 700;
          text-align: center;
          i {
            padding-right: 1rem;
          }
        }
      }
      &:hover {
        .circle {
          width: 100%;
          .icon {
            &.arrow {
              transform: rotate(90deg) translate(-0.25rem, -0.25rem);
            }
          }
        }
        .btn-text {
          color: $secondaryBGColor;
        }
      }
    }
  }

  .avatar-2 {
    width: 50%;
    height: 635px;
  }

  .about-me-1-text {
    width: 45%;
    padding-right: 220px;
    p {
      font-size: 16px;
      letter-spacing: 2px;
      line-height: 24px;
    }
  }

  .about-me-1 {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: white;
  }

  .about-me-2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 32px;
    background-color: $secondaryBGColor;

    .about-me-2-cont {
      display: flex;
      justify-content: space-between;
      margin: 0;
      .about-me-wrapper {
        width: 20vw;
        margin: 48px;
      }
    }
  }

  .abilities {
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
  }

  .toolsAndSkills {
    margin: 48px;
  }

  .skill-cont {
    margin: 0 56px;
    flex-direction: column;

    li {
      padding: 10px;
    }

    .skill-img {
      width: 80px;
      height: 80px;
    }

    .skill-bar {
      height: 10px;
      width: 62.5vw;
    }

    .skill-value {
      height: 10px;
    }
  }

  .works-1 {
    margin: 64px 0;
  }

  .bg-filter {
    height: 248px;
  }

  .works-btn {
    margin: 24px auto;
    height: 220px;

    &::after {
      bottom: 64px;
    }
  }

  .works-words {
    position: absolute;
    top: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    padding: 40px 80px;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
  }

  h2 {
    font-size: 3rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    font-weight: 300;
  }

  a {
    font-size: 1rem;
    font-weight: 100;
    text-decoration: none;
  }

  h5 {
    font-size: 0.5rem;
    font-weight: 100;
  }

  hr {
    position: relative;
    border: $primaryColor500 solid 2px;
    margin: 20px 0 30px 0;
    width: 30px;
  }

  span {
    line-height: 2rem;
  }
}

textarea {
  height: 340px;
}

@media screen and (max-width: 1440px) and (min-width: 1281px) {
  .background-home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
  }

  .home-hello {
    width: 30%;
  }

  .home-my-job {
    width: 30%;
    h1 {
      color: #333333;
    }
  }

  .bnt-cont {
    background: $secondaryBGColor;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-around;

    .btn-menu {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 0;
      font-size: 1rem;
      &.btn-menu {
        width: 12rem;
        height: auto;
        .circle {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: relative;
          display: block;
          margin: 0;
          width: 3rem;
          height: 3rem;
          background: $primaryColor500; //按鈕顏色
          border-radius: 1rem;
          .icon {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            &.arrow {
              transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
              left: 0.625rem;
              width: 1.125rem;
              height: 0.125rem;
              background: none;
              &::before {
                position: absolute;
                content: "";
                top: -0.25rem;
                right: 0.0625rem;
                width: 0.625rem;
                height: 0.625rem;
                border-top: 0.125rem solid #fff;
                border-right: 0.125rem solid #fff;
                transform: rotate(45deg);
              }
            }
          }
        }
        .btn-text {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 0.55rem 0;
          margin: 0 0 0 1.85rem;
          color: $primaryColor700;
          font-weight: 700;
          text-align: center;
          i {
            padding-right: 1rem;
          }
        }
      }
      &:hover {
        .circle {
          width: 100%;
          .icon {
            &.arrow {
              transform: rotate(90deg) translate(-0.25rem, -0.25rem);
            }
          }
        }
        .btn-text {
          color: $secondaryBGColor;
        }
      }
    }
  }

  .avatar-2 {
    width: 50%;
    height: 560px;
  }

  .about-me-1-text {
    width: 45%;
    padding-right: 128px;
    p {
      font-size: 16px;
      letter-spacing: 2px;
      line-height: 24px;
    }
  }

  .about-me-1 {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: white;
  }

  .about-me-2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 32px;
    background-color: $secondaryBGColor;
    .about-me-2-cont {
      display: flex;
      justify-content: space-between;
      margin: 0;
      .about-me-wrapper {
        width: 20vw;
        margin: 24px;
      }
    }
  }

  .abilities {
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
  }

  .toolsAndSkills {
    margin: 24px;
  }

  .skill-cont {
    margin: 0 56px;
    flex-direction: column;

    li {
      padding: 10px;
    }

    .skill-img {
      width: 80px;
      height: 80px;
    }

    .skill-bar {
      height: 10px;
      width: 57.5vw;
    }

    .skill-value {
      height: 10px;
    }
  }

  .bg-filter {
    height: 248px;
  }

  .works-btn {
    margin: 24px auto;
    height: 220px;

    &::after {
      bottom: 64px;
    }
  }

  .works-words {
    position: absolute;
    top: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    padding: 40px 80px;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 700;
  }

  h2 {
    font-size: 3rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    font-weight: 300;
  }

  a {
    font-size: 1rem;
    font-weight: 100;
    text-decoration: none;
  }

  h5 {
    font-size: 0.5rem;
    font-weight: 100;
  }

  hr {
    position: relative;
    border: $primaryColor500 solid 2px;
    margin: 20px 0 30px 0;
    width: 30px;
  }

  span {
    line-height: 1.8rem;
  }

  textarea {
    height: 240px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 961px) {
  .background-home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
  }

  .home-hello {
    width: 30%;
  }

  .home-my-job {
    width: 30%;
    h1 {
      color: #333333;
    }
  }

  .bnt-cont {
    background: $secondaryBGColor;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-around;

    .btn-menu {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 0;
      font-size: 1rem;
      &.btn-menu {
        width: 12rem;
        height: auto;
        .circle {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: relative;
          display: block;
          margin: 0;
          width: 3rem;
          height: 3rem;
          background: $primaryColor500; //按鈕顏色
          border-radius: 1rem;
          .icon {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            &.arrow {
              transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
              left: 0.625rem;
              width: 1.125rem;
              height: 0.125rem;
              background: none;
              &::before {
                position: absolute;
                content: "";
                top: -0.25rem;
                right: 0.0625rem;
                width: 0.625rem;
                height: 0.625rem;
                border-top: 0.125rem solid #fff;
                border-right: 0.125rem solid #fff;
                transform: rotate(45deg);
              }
            }
          }
        }
        .btn-text {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 0.55rem 0;
          margin: 0 0 0 1.85rem;
          color: $primaryColor700;
          font-weight: 700;
          text-align: center;
          i {
            padding-right: 1rem;
          }
        }
      }
      &:hover {
        .circle {
          width: 100%;
          .icon {
            &.arrow {
              transform: rotate(90deg) translate(-0.25rem, -0.25rem);
            }
          }
        }
        .btn-text {
          color: $secondaryBGColor;
        }
      }
    }
  }

  .avatar-2 {
    width: 50%;
    height: 460px;
  }

  .about-me-1-text {
    width: 45%;
    padding-right: 96px;
    p {
      font-size: 16px;
      letter-spacing: 2px;
      line-height: 24px;
    }
  }

  .about-me-1 {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: white;
  }

  .about-me-2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: $secondaryBGColor;
    .about-me-2-cont {
      display: flex;
      justify-content: space-between;
      margin: 24px;
      .about-me-wrapper {
        min-width: 25vw;
        margin: 0 12px;
      }
    }
  }

  .abilities {
    padding-top: 12px;
    padding-bottom: 64px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
  }

  .toolsAndSkills {
    margin: 12px;
  }

  .skill-cont {
    margin: 0 24px;
    flex-direction: column;

    li {
      padding: 10px;
    }

    .skill-img {
      width: 80px;
      height: 80px;
    }

    .skill-bar {
      height: 10px;
      width: 80vw;
    }

    .skill-value {
      height: 10px;
    }
  }

  .bg-filter {
    height: 248px;
  }

  .works-btn {
    margin: 12px auto;
    height: 220px;

    &::after {
      bottom: 64px;
    }
  }

  .works-words {
    position: absolute;
    top: 85px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    padding: 40px 80px;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    font-weight: 300;
  }

  a {
    font-size: 1rem;
    font-weight: 100;
    text-decoration: none;
  }

  h5 {
    font-size: 0.5rem;
    font-weight: 100;
  }

  hr {
    position: relative;
    border: $primaryColor500 solid 2px;
    margin: 20px 0 30px 0;
    width: 30px;
  }

  span {
    line-height: 1.8rem;
  }

  textarea {
    height: 180px;
  }
}

@media screen and (max-width: 960px) and (min-width: 841px) {
  .background-home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
  }

  .home-hello {
    width: 30%;
  }

  .home-my-job {
    width: 30%;
    h1 {
      color: #333333;
    }
  }

  .bnt-cont {
    background: $secondaryBGColor;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-around;

    .btn-menu {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 0;
      font-size: 1rem;
      &.btn-menu {
        width: 12rem;
        height: auto;
        .circle {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: relative;
          display: block;
          margin: 0;
          width: 3rem;
          height: 3rem;
          background: $primaryColor500; //按鈕顏色
          border-radius: 1rem;
          .icon {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            &.arrow {
              transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
              left: 0.625rem;
              width: 1.125rem;
              height: 0.125rem;
              background: none;
              &::before {
                position: absolute;
                content: "";
                top: -0.25rem;
                right: 0.0625rem;
                width: 0.625rem;
                height: 0.625rem;
                border-top: 0.125rem solid #fff;
                border-right: 0.125rem solid #fff;
                transform: rotate(45deg);
              }
            }
          }
        }
        .btn-text {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 0.6rem 0;
          margin: 0 0 0 1.85rem;
          color: $primaryColor700;
          font-weight: 700;
          text-align: center;
          i {
            padding-right: 1rem;
          }
        }
      }
      &:hover {
        .circle {
          width: 100%;
          .icon {
            &.arrow {
              transform: rotate(90deg) translate(-0.25rem, -0.25rem);
            }
          }
        }
        .btn-text {
          color: $secondaryBGColor;
        }
      }
    }
  }

  .avatar-2 {
    width: 50%;
    height: 460px;
  }

  .about-me-1-text {
    width: 45%;
    padding-right: 96px;
    p {
      font-size: 14px;
      letter-spacing: 1.5px;
      line-height: 20px;
    }
  }

  .about-me-1 {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: white;
  }

  .about-me-2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: $secondaryBGColor;
    .about-me-2-cont {
      display: flex;
      justify-content: space-between;
      margin: 12px;
      .about-me-wrapper {
        min-width: 25vw;
        margin: 0 12px;
      }
    }
  }

  .abilities {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
  }

  .toolsAndSkills {
    margin: 12px;
  }

  .skill-cont {
    margin: 0 12px;
    flex-direction: column;

    li {
      padding: 10px;
    }

    .skill-img {
      width: 80px;
      height: 80px;
    }

    .skill-bar {
      height: 10px;
      width: 85vw;
    }

    .skill-value {
      height: 10px;
    }
  }

  .bg-filter {
    height: 248px;
  }

  .works-btn {
    margin: 12px auto;
    height: 220px;

    &::after {
      bottom: 64px;
    }
  }

  .works-words {
    position: absolute;
    top: 85px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    padding: 40px 80px;
  }

  h1 {
    font-size: 2.75rem;
    font-weight: 700;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    font-weight: 300;
  }

  a {
    font-size: 1rem;
    font-weight: 100;
    text-decoration: none;
  }

  h5 {
    font-size: 0.5rem;
    font-weight: 100;
  }

  hr {
    position: relative;
    border: $primaryColor500 solid 2px;
    margin: 20px 0 30px 0;
    width: 30px;
  }

  span {
    line-height: 1.8rem;
  }

  textarea {
    height: 80px;
  }
}

@media screen and (max-width: 840px) and (min-width: 431px) {
  .background-home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    h1 {
      font-weight: 700;
    }
    h3 {
      font-weight: 500;
    }
  }

  .home-hello {
    width: 30%;
  }

  .home-my-job {
    width: 30%;
    h1 {
      color: #333333;
    }
  }

  .bnt-cont {
    background: $secondaryBGColor;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-around;

    .btn-menu {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 0;
      font-size: 1rem;
      &.btn-menu {
        width: 8rem;
        height: auto;
        .circle {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: relative;
          display: block;
          margin: 0;
          width: 2rem;
          height: 2rem;
          background: $primaryColor500; //按鈕顏色
          border-radius: 0.67rem;
          .icon {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            &.arrow {
              transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
              left: 0.175rem;
              width: 1.125rem;
              height: 0.125rem;
              background: none;
              &::before {
                position: absolute;
                content: "";
                top: -0.25rem;
                right: 0.0625rem;
                width: 0.625rem;
                height: 0.625rem;
                border-top: 0.125rem solid #fff;
                border-right: 0.125rem solid #fff;
                transform: rotate(45deg);
              }
            }
          }
        }
        .btn-text {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 0.5rem 0;
          margin: 0 0 0 1.85rem;
          color: $primaryColor700;
          font-weight: 700;
          font-size: 8px;
          text-align: center;
          i {
            padding-right: 0.75rem;
          }
        }
      }
      &:hover {
        .circle {
          width: 100%;
          .icon {
            &.arrow {
              transform: rotate(90deg) translate(-0.25rem, -0.25rem);
            }
          }
        }
        .btn-text {
          color: $secondaryBGColor;
        }
      }
    }
  }

  .avatar-2 {
    width: 50%;
    height: 280px;
  }

  .about-me-1-text {
    width: 45%;
    padding-right: 48px;
    p {
      font-size: 14px;
      letter-spacing: 1.5px;
      line-height: 20px;
    }
  }

  .about-me-1 {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: white;
  }

  .about-me-2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-top: 32px;
    padding-bottom: 0;
    background-color: $secondaryBGColor;
    .about-me-2-cont {
      display: block;
      width: 100%;
      margin: 16px;
      .about-me-wrapper {
        margin: 12px;
      }
    }
  }

  .abilities {
    padding-top: 0;
    padding-bottom: 24px;
    margin-bottom: 48px;
    display: block;
  }

  .toolsAndSkills {
    margin: 0 28px;
  }

  .skill-cont {
    flex-direction: column;
    align-items: flex-start;

    li {
      padding: 0 10px 10px 10px;

      .skill-text-wrapper {
        max-width: 60vw;
        font-size: 0.5rem;
        font-weight: 300;
      }
    }

    .skill-img {
      width: 80px;
      height: 80px;
    }

    .skill-bar {
      height: 10px;
      width: 80vw;
    }

    .skill-value {
      height: 10px;
    }
  }

  .bg-filter {
    height: 208px;
  }

  .works-btn {
    margin: 12px auto;
    height: 96px;

    &::after {
      bottom: 12px;
    }
  }

  .works-words {
    position: absolute;
    top: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    padding: 10px 20px;
  }

  .contant-me-img {
    display: none;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.5rem;
  }

  h5 {
    font-size: 0.25rem;
  }

  hr {
    position: relative;
    border: $primaryColor500 solid 1px;
    margin: 12px 0 30px 0;
  }

  textarea {
    height: 280px;
  }
}

@media screen and (max-width: 430px) {
  .background-home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 32px 0 32px;
    flex-direction: column;
    justify-content: space-around;
    overflow-x: hidden;
    h1 {
      font-size: 3rem;
      font-weight: 700;
      text-align: center;
    }
    h3 {
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
    }
  }

  .home-hello {
    margin-bottom: 20px;
  }

  .home-my-job {
    margin-top: 20px;
    h1 {
      color: #333333;
    }
  }

  .shape-3,
  .shape-2,
  .shape-1,
  .avatar-1 {
    width: 90vw;
  }

  .bnt-cont {
    background: $secondaryBGColor;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-around;

    .btn-menu {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 1.5px;
      font-size: 0.25rem;
      &.btn-menu {
        width: 5rem;
        height: auto;
        .circle {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: relative;
          display: block;
          margin: 0;
          width: 1.5rem;
          height: 1.5rem;
          background: $primaryColor500; //按鈕顏色
          border-radius: 0.5rem;
          .icon {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            &.arrow {
              transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
              left: -0.15rem;
              width: 1.125rem;
              height: 0.125rem;
              background: none;
              &::before {
                position: absolute;
                content: "";
                top: -0.25rem;
                right: 0.0625rem;
                width: 0.5rem;
                height: 0.5rem;
                border-top: 0.125rem solid #fff;
                border-right: 0.125rem solid #fff;
                transform: rotate(45deg);
              }
            }
          }
        }
        .btn-text {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          padding: 0.28rem 0;
          margin: 0 0 0 1.85rem;
          color: $primaryColor700;
          font-weight: 300;
          font-size: 12px;
          text-align: center;
          i {
            display: none;
          }
        }
      }
      &:hover {
        .circle {
          width: 100%;
          .icon {
            &.arrow {
              transform: rotate(90deg) translate(-0.25rem, -0.25rem);
            }
          }
        }
        .btn-text {
          color: $secondaryBGColor;
        }
      }
    }
  }

  .avatar-2 {
    width: 100%;
    height: 280px;
  }

  .about-me-1-text {
    width: 100%;
    padding: 24px 16px 32px 16px;
    p {
      font-size: 12px;
      letter-spacing: 1.5px;
      line-height: 18px;
    }
  }

  .about-me-2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: $secondaryBGColor;
    .about-me-2-cont {
      display: block;
      width: 100%;
      margin: 0 24px;
      .about-me-wrapper {
        margin: 12px 0;
        p {
          font-size: 14px;
        }
        li {
          font-size: 12px;
        }
      }
    }
  }

  .abilities {
    padding-top: 0px;
    padding-bottom: 40px;
    display: block;
  }

  .toolsAndSkills {
    margin: 0 24px;
  }

  .skill-cont {
    margin: 0px;
    flex-direction: column;

    li {
      padding: 0 10px;

      .skill-text-wrapper {
        max-width: 55vw;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 1px;
      }
    }

    .skill-img {
      width: 80px;
      height: 80px;
    }

    .skill-bar {
      height: 10px;
      margin: 0 0 16px 0;
      width: 80vw;
    }

    .skill-value {
      height: 10px;
    }
  }

  .works-btn {
    margin: 16px auto;
    height: 120px;

    &::after {
      bottom: 32px;
    }
  }

  .works-words {
    position: absolute;
    top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    padding: 10px 20px;
  }

  .contant-me-img {
    display: none;
  }

  .submit-btn {
    p {
      font-size: 16px;
    }
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  p {
    font-size: 0.5rem;
  }

  h5 {
    font-size: 0.5rem;
  }

  hr {
    position: relative;
    border: $primaryColor500 solid 1px;
    margin: 12px 0 30px 0;
  }

  textarea {
    height: 240px;
  }
}
