@import "../bootstrap-5.0.2/scss/bootstrap-grid.scss";
@import "/style/utilities.css";

$primaryColor-dark: #6dacb6;
$primaryColor: #94c8d3;
$primaryColor-light: #a8d3db;
$primaryColor-lighter: #c4e1e6;
$primaryColor-lightest: #daedf1;
$backgroundPrimaryColor: #ebf0f1;
$greyColor: #373a3b;
* {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
  line-height: auto;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: "Noto Sans TC", sans-serif;
  vertical-align: baseline;
}

h1 {
  font-size: 3.5rem;
  color: $greyColor;
  /* line-height: 5rem; */
}

h2 {
  font-size: 1.5rem;
  color: $greyColor;
  /* line-height: 1rem; */
}

h3 {
  font-size: 0.5rem;
  color: $greyColor;
}

p {
  font-size: 1rem;
  // line-height: inherit;
}

hr {
  border: $primaryColor solid 2px;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}

#about_me {
  // display: none;
}

// /* remember to define focus styles! */
// :focus {
//   outline: 0;
// }
// body {
//   line-height: 1;
//   color: black;
//   background: white;
// }
// ol,
// ul {
//   list-style: none;
// }

// /* tables still need 'cellspacing="0"' in the markup */
// table {
//   border-collapse: separate;
//   border-spacing: 0;
// }
// caption,
// th,
// td {
//   text-align: left;
//   font-weight: normal;
// }
// blockquote:before,
// blockquote:after,
// q:before,
// q:after {
//   content: "";
// }
// blockquote,
// q {
//   quotes: "" "";
// }

//background

.background-img {
  background-image: url("../img/background.jpg");
  height: 789px;
  background-size: cover;
  background-position: center center;
}

//navbar
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: $primaryColor, $alpha: 0.05);
  backdrop-filter: blur(3px);
  border: 1px;
  padding: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  z-index: 99;
  .navbar-list {
    display: flex;
    margin: 0;
    padding: 10px;
  }
  .list-items {
    padding: 0.75rem 1.5rem;
    display: inline-block;
    text-decoration: none;

    color: $primaryColor;
    transition: all 0.2s ease;
    &:hover {
      color: white;
      background-color: $primaryColor;
      border-radius: 5px;
      font-weight: 700;
      box-shadow: $primaryColor-lightest 0px 0px 8px;
      a {
        text-shadow: $greyColor 0px 0px 1px;
      }
    }
    &:active {
      color: white;
      background-color: $primaryColor-dark;
      border-radius: 5px;
      font-weight: 900;
      box-shadow: $primaryColor-light 0px 0px 8px;
      a {
        text-shadow: $greyColor 0px 0px 1px;
      }
    }
  }
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    60deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  z-index: -99;
  transition: 1s;
}

.navbar:hover::before {
  left: 100%;
}

.logo {
  width: 200px;
  height: 67px;
  background-image: url("../img/Logo_STANLEY-part.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 0.2s ease;
  &:hover {
    background-image: url("../img/Logo_STANLEY.png");
    filter: drop-shadow(0 0 5px rgba($primaryColor-lighter, 0.4));
  }
}

.logo-item {
  display: block;
  width: 100%;
  height: 100%;
}

.logo-component {
  position: absolute;
  width: 10vw;
  opacity: 0.1;
}

.header-content {
}

main {
  position: relative;
  width: 100%;
}

.frame-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.primary-frame {
  position: relative;
  display: flex;
  top: 120px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(3px);
  border-radius: 10px 80px 10px 80px;
  box-shadow: rgba(#00a49a, 0.2) 0 0 16px;
}

.nextpage-1 {
  top: -20px;
  left: 50.5%;
  z-index: 100;
}

polygon {
  background-color: $primaryColor-dark;
}

.section {
  width: auto;
  height: 789px;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: $backgroundPrimaryColor;
}

.toolsAndSkills {
  width: 65%;
}

.skill {
  position: flex;
  width: 192px;
  height: 192px;
  margin: 28px;
}

.skill-circle-outer {
  width: 192px;
  height: 192px;
  border-radius: 50%;
  background-color: $backgroundPrimaryColor;
  box-shadow: 3px 3px 8px -3px rgba(0, 0, 0, 0.1),
    -6px -6px 8px -1px rgba(249, 254, 255, 0.7);
}

.skill-circle-inner {
  position: relative;
  width: 144px;
  height: 144px;
  top: 24px;
  left: 24px;
  border-radius: 50%;
  background-color: $backgroundPrimaryColor;
  box-shadow: inset 2px 2px 4px -1px rgba(0, 0, 0, 0.2),
    inset -2px -2px 4px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.01), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.img-ai {
  width: 120px;
  height: 120px;
  background-image: url("../img/PORTFOLIO_ai_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 12px 12px;
}

.img-html5 {
  width: 120px;
  height: 120px;
  background-image: url("../img/PORTFOLIO_html5_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 12px 12px;
}

.img-figma {
  width: 120px;
  height: 120px;
  background-image: url("../img/PORTFOLIO_figma_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 12px 12px;
}

.img-ps {
  width: 120px;
  height: 120px;
  background-image: url("../img/PORTFOLIO_ps_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 12px 12px;
}

.img-css3 {
  width: 120px;
  height: 120px;
  background-image: url("../img/PORTFOLIO_css3_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 12px 12px;
}

.img-ppt {
  width: 120px;
  height: 120px;
  background-image: url("../img/PORTFOLIO_ppt_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 12px 12px;
}

.ai_circle {
  fill: none;
  stroke: $primaryColor;
  stroke-width: 16px;
  stroke-dasharray: 472 472;
  stroke-dashoffset: 420;
  transform-origin: center;
  transform: rotate(-90deg);
  animation: anim 2s ease forwards;
}

.html5_circle {
  fill: none;
  stroke: $primaryColor;
  stroke-width: 16px;
  stroke-dasharray: 332 472;
  stroke-dashoffset: 280;
  transform-origin: center;
  transform: rotate(-90deg);
  animation: anim 2s ease forwards;
}

.figma_circle {
  fill: none;
  stroke: $primaryColor;
  stroke-width: 16px;
  stroke-dasharray: 402 472;
  stroke-dashoffset: 350;
  transform-origin: center;
  transform: rotate(-90deg);
  animation: anim 2s ease forwards;
}

.ps_circle {
  fill: none;
  stroke: $primaryColor;
  stroke-width: 16px;
  stroke-dasharray: 432 472;
  stroke-dashoffset: 380;
  transform-origin: center;
  transform: rotate(-90deg);
  animation: anim 2s ease forwards;
}

.css3_circle {
  fill: none;
  stroke: $primaryColor;
  stroke-width: 16px;
  stroke-dasharray: 272 472;
  stroke-dashoffset: 220;
  transform-origin: center;
  transform: rotate(-90deg);
  animation: anim 2s ease forwards;
}

.ppt_circle {
  fill: none;
  stroke: $primaryColor;
  stroke-width: 16px;
  stroke-dasharray: 472 472;
  stroke-dashoffset: 420;
  transform-origin: center;
  transform: rotate(-90deg);
  animation: anim 2s ease forwards;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 0;
  }
}

svg {
  position: absolute;
  top: -21.5px;
  left: -21.5px;
}

.edAndExp {
  width: 30%;
}

.color-primaryColor {
  color: $primaryColor;
}
.color-greyColor {
  color: $greyColor;
}

.btn-primary {
  display: inline-block;
  color: white;
  background-image: linear-gradient(
    to bottom,
    $primaryColor,
    $primaryColor-dark
  );
  border: none;
  border-radius: 50px;
  padding: 8px 20px;
  width: 50%;
  margin: 1rem 0;
  font-weight: 400;
  transition: box-shadow 0.2s ease;
  &:hover {
    background-image: linear-gradient(
      to bottom,
      $primaryColor-light,
      $primaryColor
    );
    font-weight: 700;
    box-shadow: $primaryColor-light 0px 0px 8px;
  }
  &:active {
    background-image: linear-gradient(
      to bottom,
      darken($primaryColor, 3%),
      darken($primaryColor, 3%)
    );
  }
}

// @media (min-height: 0px) and (max-height: 789px) {
//   .about-me {
//     border: $primaryColor solid 1.5px;
//     border-radius: 5px;
//   }
// }

// @media (min-height: 790px) and (max-height: 1578px) {
//   .about-me {
//     border: none;
//   }
//   .works {
//     border: $primaryColor solid 1.5px;
//     border-radius: 5px;
//   }
// }
.anim {
  opacity: 0;
  transform: translateX(-80%);
  transition: all 0.5s ease-out;
  transition-delay: 0.1s;
}

.scroll-anim {
  opacity: 1;
  transform: translateX(0);
}
