@import "../style/bootstrap/bootstrap-grid.min.css";
* {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
  line-height: auto;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: "Noto Sans TC", sans-serif;
  vertical-align: baseline;
}

.busy-bus-header-bg {
  position: absolute;
  width: 100%;
  background: linear-gradient(-90deg, #8a6de3, #c3b8e4);
}

.busy-bus-header-cont {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 90px 0;
}

.busy-bus-logo {
  display: flex;
  align-items: center;
}
.busy-bus-logo .logo-text-cont {
  display: flex;
  flex-direction: column;
}
.busy-bus-logo .logo-text-cont h1 {
  color: white;
}
.busy-bus-logo .logo-text-cont p {
  color: white;
}

.logo-image {
  width: auto;
  height: auto;
}

.about-busy-bus,
.goals-cont,
.persona,
.user-insight-cont,
.functional-map,
.flow-chart,
.design-system,
.design-system-component,
.wireframe {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 48px 0 0 0;
}

.title-uiux-light {
  position: relative;
  font-weight: 200;
}
.title-uiux-light::before {
  content: "";
  position: absolute;
  background-color: #e4dff4;
  z-index: -1;
}

.title-uiux-dark {
  position: relative;
  font-weight: 200;
  color: white;
}
.title-uiux-dark::before {
  content: "";
  position: absolute;
  background-color: #8a6de3;
  z-index: -1;
}

.about-busy-bus-cont {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-busy-bus-image {
  background-image: url("../img/uiux/about-busy-bus-1.png");
  top: 0;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.goals,
.user-insight {
  position: relative;
  background: #6d5bd3;
  width: 100%;
  padding: 0 0 48px 0;
  overflow: hidden;
}

.goals-flex {
  display: flex;
}
.goals-flex .goals-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #e4dff4;
  padding: 24px 48px;
  border-radius: 28px;
  box-shadow: 16px 16px 36px 4px rgba(0, 0, 0, 0.15);
}
.goals-flex .goals-card h2 {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  color: #8a6de3;
  padding-bottom: 24px;
  letter-spacing: 2px;
}
.goals-flex .goals-card h2:before {
  content: "";
  position: absolute;
  top: 54px;
  left: 0;
  background-color: #262626;
  width: 48px;
  height: 4px;
}
.goals-flex .goals-card p {
  font-size: 1.25rem;
  line-height: 1.8rem;
}

.persona-wrapper {
  display: flex;
}

.persona-left-side {
  display: flex;
}

.persona-dialog-box {
  position: relative;
  color: #fbfbfb;
  width: 100%;
  padding: 16px;
  background: #6d5bd3;
  border-radius: 32px;
  overflow: hidden;
}
.persona-dialog-box .dialog-circle {
  position: absolute;
  border-radius: 50%;
  background: #8a6de3;
}

.persona-dialog-box-cg {
  position: relative;
  color: #fbfbfb;
  width: 100%;
  padding: 16px;
  background: #b68900;
  border-radius: 32px;
  overflow: hidden;
}
.persona-dialog-box-cg .dialog-circle-cg {
  position: absolute;
  border-radius: 50%;
  background: #caa500;
}

h2 {
  font-size: 60px;
  font-weight: 700;
}

.persona-dialog-info {
  width: 100%;
  border-collapse: collapse;
}
.persona-dialog-info tr:last-child td {
  border-bottom: none;
}
.persona-dialog-info td {
  border-bottom: #fbfbfb 1px solid;
  font-size: 20px;
  color: #fbfbfb;
  font-weight: 300;
}
.persona-dialog-info td span {
  font-size: 32px;
  color: #fbfbfb;
}
.persona-dialog-info td:first-child {
  width: 30%;
}
.persona-dialog-info td:nth-child(2) {
  width: 70%;
}

.persona-right-side {
  display: flex;
  flex-direction: column;
}

.right-side-info-box {
  position: relative;
  border-radius: 32px;
  background: white;
  width: 100%;
  height: auto;
  padding: 12px;
  margin: 0 0 64px 0;
}
.right-side-info-box p {
  font-size: 1rem;
  letter-spacing: 0px;
  line-height: 1.5rem;
  padding: 12px 24px;
}
.right-side-info-box .right-side-info-box-title {
  position: absolute;
  background: white;
  padding: 0 12px;
  top: -20px;
  left: 48px;
  font-size: 24px;
}

.color-upc1-border {
  border: 6px #6d5bd3 solid;
}
.color-upc1-border:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 16px;
  left: 16px;
  background: #6d5bd3;
  border-radius: 32px;
}

.color-upc1-font {
  color: #6d5bd3;
}

.color-ufc-border {
  border: 6px #ed6a5e solid;
}
.color-ufc-border:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 16px;
  left: 16px;
  background: #ed6a5e;
  border-radius: 32px;
}

.color-ufc-font {
  color: #ed6a5e;
}

.color-udc-border {
  border: 6px #3c8bb8 solid;
}
.color-udc-border:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 16px;
  left: 16px;
  background: #3c8bb8;
  border-radius: 32px;
}

.color-udc-font {
  color: #3c8bb8;
}

.color-ugc-border {
  border: 6px #b68900 solid;
}
.color-ugc-border:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 16px;
  left: 16px;
  background: #b68900;
  border-radius: 32px;
}

.color-ugc-font {
  color: #b68900;
}

.color-spec-primary {
  background-color: #7c6aeb;
}

.circle-size1 {
  position: absolute;
  top: 140px;
  left: 0;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  z-index: -1;
}

.circle-size2 {
  top: -100px;
  right: -240px;
  position: absolute;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  z-index: -1;
}

.circle-size3 {
  bottom: -180px;
  left: -240px;
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  z-index: -1;
}

.circle-size4 {
  bottom: 30px;
  right: 0;
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  z-index: -1;
}

.user-insight-avatar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.insight-content {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.insight-content .insight-part {
  display: flex;
}
.insight-content .insight-dialog {
  position: relative;
  background: rgba(251, 251, 251, 0.8);
}

.color-primary0 {
  background-color: #4230a9;
}

.color-primary1 {
  background-color: #6d5bd3;
}

.color-primary2 {
  background-color: #8a6de3;
}

.color-primary3 {
  background-color: #c3b8e4;
}

.color-primary4 {
  background-color: #e4dff4;
}

.color-gradient {
  background: linear-gradient(-90deg, #8a6de3, #c3b8e4);
  transform: rotate(180deg);
}

.color-black {
  background-color: #262626;
}

.color-white {
  background-color: #fbfbfb;
}

.color-neutral800 {
  background-color: #363636;
}

.color-neutral700 {
  background-color: #565656;
}

.color-neutral500 {
  background-color: #969696;
}

.color-neutral400 {
  background-color: #c6c6c6;
}

.color-neutral200 {
  background-color: #e6e6e6;
}

.color-neutral100 {
  background-color: #f6f6f6;
}

.color-failed {
  background-color: #ed6a5e;
}

.color-warning {
  background-color: #f5c249;
}

.color-success {
  background-color: #3cb843;
}

.color-default {
  background-color: #3c8bb8;
}

.component-bg {
  background: #e6e6e6;
}

.component-part-1-2-group,
.component-part-1,
.component-part-2,
.component-part-3 {
  position: relative;
  display: flex;
}

.wireframe-flex {
  position: relative;
  display: flex;
  flex-direction: row;
  transform: rotate(-30deg);
}

.wireframe-bg {
  background: linear-gradient(0deg, #4230a9, #6d5bd3);
  position: relative;
  overflow: hidden;
}

.wireframe-cont {
  position: relative;
}
.wireframe-cont img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}
.wireframe-cont img:last-child {
  opacity: 0;
}
.wireframe-cont:hover img:first-child {
  opacity: 0;
}
.wireframe-cont:hover img:last-child {
  opacity: 1;
  transform: scale(1.05);
  filter: drop-shadow(0 0 50px rgba(0, 0, 0, 0.15));
}

.image-uiux-picture {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 1441px) {
  .navbar-rwd-web,
.wireframe-rwd-web {
    display: block;
  }
  .navbar-rwd-phone,
.wireframe-rwd-phone {
    display: none;
  }
  .busy-bus-header-bg {
    height: 640px;
  }
  .busy-bus-header-cont {
    height: auto;
  }
  .busy-bus-logo {
    padding-top: 108px;
  }
  .busy-bus-logo .logo-text-cont {
    padding: 4rem;
  }
  .busy-bus-logo .logo-text-cont h1 {
    font-size: 3.5rem;
    letter-spacing: 1rem;
    font-weight: 700;
  }
  .busy-bus-logo .logo-text-cont p {
    font-size: 2rem;
    letter-spacing: 1.1rem;
  }
  .about-busy-bus,
.goals-cont,
.persona,
.user-insight-cont,
.functional-map,
.flow-chart,
.design-system,
.design-system-component,
.wireframe {
    max-width: 1320px;
  }
  .title-uiux-light,
.title-uiux-dark {
    font-size: 3.5rem;
    letter-spacing: 2rem;
  }
  .title-uiux-light::before,
.title-uiux-dark::before {
    top: 3rem;
    left: -1rem;
    width: 240px;
    height: 30px;
  }
  .about-busy-bus-cont {
    flex-direction: row;
  }
  .about-busy-bus-cont .about-busy-bus-image {
    width: 600px;
    height: 600px;
  }
  .about-busy-bus-cont .about-busy-bus-text {
    width: 40%;
  }
  p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;
    letter-spacing: 0.15rem;
  }
  .goals-flex {
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
    flex-direction: row;
  }
  .goals-flex .goals-card {
    width: 400px;
    height: 210px;
  }
  .persona-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 64px 0;
  }
  .fd-rrc {
    flex-direction: row-reverse;
  }
  .persona-left-side {
    flex-direction: column;
    width: 25%;
  }
  .persona-left-side img {
    position: relative;
    margin-top: 16px;
    width: 90%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .persona-left-side .persona-dialog-box-trig {
    position: relative;
    top: -1px;
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-top: 64px solid #6d5bd3;
  }
  .persona-left-side .persona-dialog-box-trig-cg {
    position: relative;
    top: -1px;
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-top: 64px solid #b68900;
  }
  .persona-dialog-box-trig,
.persona-dialog-box-trig-cg {
    left: 112px;
  }
  .dialog-circle,
.dialog-circle-cg {
    width: 240px;
    height: 240px;
    top: -108px;
    right: -72px;
  }
  .persona-right-side {
    width: 70%;
  }
  .user-insight-avatar {
    bottom: -96px;
  }
  .insight-content {
    margin: 48px 0;
  }
  .insight-part {
    flex-direction: column;
    gap: 64px;
  }
  .insight-dialog {
    padding: 48px;
    width: 400px;
    border-radius: 32px;
  }
  .insight-dialog p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .functional-map img {
    position: relative;
    width: 90%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 48px 0;
  }
  .flow-chart-box {
    background: #f6f6f6;
    position: relative;
    width: 103%;
    left: 50%;
    transform: translateX(-50%);
    padding: 24px 36px;
    border-radius: 48px;
    margin: 48px 0;
  }
  .flow-chart-box h2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 16px;
    border-bottom: 2px #c3b8e4 solid;
  }
  .flow-chart-box img {
    width: 90%;
    height: auto;
    margin: 36px 0;
  }
  .color-box {
    width: 120px;
    height: 120px;
    border-radius: 16px;
    margin-bottom: 8px;
  }
  .color-box-long {
    width: 264px;
    height: 120px;
    border-radius: 16px;
    margin-bottom: 8px;
  }
  .design-system-title {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 1.5rem;
    margin-top: 48px;
    margin-bottom: 24px;
  }
  .design-system h3 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.75rem;
    margin-bottom: 12px;
  }
  .design-system p {
    font-size: 24px;
  }
  .design-system .color {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .design-system .typo-type {
    font-size: 216px;
    line-height: 216px;
  }
  .design-system .typo-font-size {
    text-align: right;
    padding-right: 8px;
  }
  .color-box-mgr-push {
    margin-right: 24px;
  }
  .neutral-color-flex {
    margin-bottom: 164px;
  }
  .component-bg {
    padding: 0 0 96px 0;
    margin-top: 64px;
  }
  .design-system-component h3 {
    font-size: 24px;
    font-weight: 700;
  }
  .design-system-component p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .component-wrapper img {
    width: 100%;
  }
  .component-wrapper .component-content {
    margin-right: 24px;
  }
  .component-part-1-2-group {
    flex-direction: row;
    width: 100%;
    height: auto;
  }
  .component-part-1-2-group .component-part-1 {
    flex-direction: column;
  }
  .wireframe-bg {
    padding-bottom: 64px;
  }
  .w-flex-1,
.w-flex-2,
.w-flex-3 {
    gap: 48px;
    top: -100px;
  }
  .wireframe-cont {
    width: 280px;
    height: 607px;
  }
  .wireframe-screen-1 {
    top: 350px;
    left: -30%;
  }
  .wireframe-screen-2 {
    top: 200px;
    left: -30%;
  }
  .wireframe-screen-3 {
    top: 50px;
    left: -30%;
  }
  .wireframe-screen-4 {
    top: 350px;
    left: 17.5%;
  }
  .wireframe-screen-5 {
    top: 200px;
    left: 17.5%;
  }
  .wireframe-screen-6 {
    top: 50px;
    left: 17.5%;
  }
  .wireframe-screen-7 {
    top: -100px;
    left: 17.5%;
  }
  .wireframe-screen-8 {
    top: 350px;
    left: 65.5%;
  }
  .wireframe-screen-9 {
    top: 200px;
    left: 65.5%;
  }
  .iframe {
    width: 100%;
    height: 789px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media screen and (max-width: 1440px) and (min-width: 1281px) {
  .navbar-rwd-web,
.wireframe-rwd-web {
    display: block;
  }
  .navbar-rwd-phone,
.wireframe-rwd-phone {
    display: none;
  }
  .busy-bus-header-bg {
    height: 640px;
  }
  .busy-bus-header-cont {
    height: auto;
  }
  .busy-bus-header-cont {
    height: auto;
  }
  .busy-bus-logo {
    padding-top: 108px;
  }
  .busy-bus-logo .logo-text-cont {
    padding: 4rem;
  }
  .busy-bus-logo .logo-text-cont h1 {
    font-size: 3.5rem;
    letter-spacing: 1rem;
    font-weight: 700;
  }
  .busy-bus-logo .logo-text-cont p {
    font-size: 2rem;
    letter-spacing: 1.1rem;
  }
  .about-busy-bus,
.goals-cont,
.persona,
.user-insight-cont,
.functional-map,
.flow-chart,
.design-system,
.design-system-component,
.wireframe {
    max-width: 1200px;
  }
  .title-uiux-light,
.title-uiux-dark {
    font-size: 3.5rem;
    letter-spacing: 2rem;
  }
  .title-uiux-light::before,
.title-uiux-dark::before {
    top: 3rem;
    left: -1rem;
    width: 40%;
    height: 30px;
  }
  .about-busy-bus-cont {
    flex-direction: row;
  }
  .about-busy-bus-cont .about-busy-bus-image {
    width: 500px;
    height: 500px;
  }
  .about-busy-bus-cont .about-busy-bus-text {
    width: 40%;
  }
  p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;
    letter-spacing: 0.15rem;
  }
  .goals-flex {
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
    flex-direction: row;
  }
  .goals-flex .goals-card {
    width: 360px;
    height: 240px;
  }
  .persona-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 64px 0;
  }
  .fd-rrc {
    flex-direction: row-reverse;
  }
  .persona-left-side {
    flex-direction: column;
    width: 25%;
  }
  .persona-left-side img {
    position: relative;
    margin-top: 16px;
    width: 90%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .persona-left-side .persona-dialog-box-trig {
    position: relative;
    top: -1px;
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-top: 64px solid #6d5bd3;
  }
  .persona-left-side .persona-dialog-box-trig-cg {
    position: relative;
    top: -1px;
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-top: 64px solid #b68900;
  }
  .persona-dialog-box-trig,
.persona-dialog-box-trig-cg {
    left: 100px;
  }
  .dialog-circle,
.dialog-circle-cg {
    width: 200px;
    height: 200px;
    top: -80px;
    right: -72px;
  }
  .persona-right-side {
    width: 70%;
  }
  .user-insight-avatar {
    bottom: -96px;
  }
  .insight-content {
    margin: 48px 0;
  }
  .insight-part {
    flex-direction: column;
    gap: 64px;
  }
  .insight-dialog {
    padding: 40px;
    width: 400px;
    border-radius: 32px;
  }
  .insight-dialog p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .functional-map img {
    position: relative;
    width: 90%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 48px 0;
  }
  .flow-chart-box {
    background: #f6f6f6;
    position: relative;
    width: 105%;
    left: 50%;
    transform: translateX(-50%);
    padding: 24px 36px;
    border-radius: 48px;
    margin: 48px 0;
  }
  .flow-chart-box h2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 16px;
    border-bottom: 2px #c3b8e4 solid;
  }
  .flow-chart-box img {
    width: 90%;
    height: auto;
    margin: 36px 0;
  }
  .color-box {
    width: 108px;
    height: 108px;
    border-radius: 16px;
    margin-bottom: 8px;
  }
  .color-box-long {
    width: 240px;
    height: 108px;
    border-radius: 16px;
    margin-bottom: 8px;
  }
  .design-system-title {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 1.5rem;
    margin-top: 48px;
    margin-bottom: 24px;
  }
  .design-system h3 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.75rem;
    margin-bottom: 12px;
  }
  .design-system p {
    font-size: 20px;
  }
  .design-system .color {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .design-system .typo-type {
    font-size: 216px;
    line-height: 216px;
  }
  .design-system .typo-font-size {
    text-align: right;
    padding-right: 8px;
  }
  .color-box-mgr-push {
    margin-right: 24px;
  }
  .neutral-color-flex {
    margin-bottom: 154px;
  }
  .component-bg {
    padding: 0 0 96px 0;
    margin-top: 64px;
  }
  .design-system-component h3 {
    font-size: 24px;
    font-weight: 700;
  }
  .design-system-component p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .component-wrapper img {
    width: 100%;
  }
  .component-wrapper .component-content {
    margin-right: 24px;
  }
  .component-part-1-2-group {
    flex-direction: row;
    width: 100%;
    height: auto;
  }
  .component-part-1-2-group .component-part-1 {
    flex-direction: column;
  }
  .wireframe-bg {
    padding-bottom: 96px;
  }
  .w-flex-1,
.w-flex-2,
.w-flex-3 {
    gap: 36px;
    top: -100px;
  }
  .wireframe-cont {
    width: 250px;
    height: 545px;
  }
  .wireframe-screen-1 {
    top: 350px;
    left: -30%;
  }
  .wireframe-screen-2 {
    top: 200px;
    left: -30%;
  }
  .wireframe-screen-3 {
    top: 50px;
    left: -30%;
  }
  .wireframe-screen-4 {
    top: 350px;
    left: 16.5%;
  }
  .wireframe-screen-5 {
    top: 200px;
    left: 16.5%;
  }
  .wireframe-screen-6 {
    top: 50px;
    left: 16.5%;
  }
  .wireframe-screen-7 {
    top: -100px;
    left: 16.5%;
  }
  .wireframe-screen-8 {
    top: 350px;
    left: 63%;
  }
  .wireframe-screen-9 {
    top: 200px;
    left: 63%;
  }
  .iframe {
    width: 100%;
    height: 789px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media screen and (max-width: 1280px) and (min-width: 961px) {
  .navbar-rwd-web,
.wireframe-rwd-web {
    display: block;
  }
  .navbar-rwd-phone,
.wireframe-rwd-phone {
    display: none;
  }
  .busy-bus-header-bg {
    height: 640px;
  }
  .busy-bus-header-cont {
    height: auto;
  }
  .busy-bus-header-cont {
    height: auto;
  }
  .busy-bus-logo {
    padding-top: 108px;
  }
  .busy-bus-logo .logo-text-cont {
    padding: 4rem;
  }
  .busy-bus-logo .logo-text-cont h1 {
    font-size: 3.5rem;
    letter-spacing: 1rem;
    font-weight: 700;
  }
  .busy-bus-logo .logo-text-cont p {
    font-size: 2rem;
    letter-spacing: 1.1rem;
  }
  .about-busy-bus,
.goals-cont,
.persona,
.user-insight-cont,
.functional-map,
.flow-chart,
.design-system,
.design-system-component,
.wireframe {
    max-width: 920px;
  }
  .title-uiux-light,
.title-uiux-dark {
    font-size: 2.5rem;
    letter-spacing: 1.5rem;
  }
  .title-uiux-light::before,
.title-uiux-dark::before {
    top: 2rem;
    left: -1rem;
    width: 50%;
    height: 30px;
  }
  .about-busy-bus-cont {
    flex-direction: row;
  }
  .about-busy-bus-cont .about-busy-bus-image {
    width: 400px;
    height: 400px;
  }
  .about-busy-bus-cont .about-busy-bus-text {
    width: 40%;
  }
  p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
  }
  .goals-flex {
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
    flex-direction: row;
  }
  .goals-flex .goals-card {
    width: 300px;
    height: 230px;
  }
  .goals-flex .goals-card h2 {
    font-size: 1.5rem;
    padding-bottom: 16px;
    letter-spacing: 1.5px;
    padding-bottom: 28px;
  }
  .goals-flex .goals-card h2:before {
    content: "";
    top: 44px;
    left: 0;
    width: 48px;
    height: 4px;
  }
  .goals-flex p {
    font-size: 0.75rem;
    line-height: 1.2rem;
  }
  .persona-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 64px 0;
  }
  .fd-rrc {
    flex-direction: row-reverse;
  }
  .persona-left-side {
    flex-direction: column;
    width: 25%;
  }
  .persona-left-side img {
    position: relative;
    margin-top: 16px;
    width: 90%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .persona-left-side .persona-dialog-box-trig {
    position: relative;
    top: -1px;
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-top: 64px solid #6d5bd3;
  }
  .persona-left-side .persona-dialog-box-trig-cg {
    position: relative;
    top: -1px;
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-top: 64px solid #b68900;
  }
  .persona-dialog-box-trig,
.persona-dialog-box-trig-cg {
    left: 66px;
  }
  .dialog-circle,
.dialog-circle-cg {
    width: 160px;
    height: 160px;
    top: -80px;
    right: -72px;
  }
  .persona-right-side {
    width: 70%;
  }
  .user-insight-avatar {
    bottom: -96px;
  }
  .insight-content {
    margin: 48px 0;
  }
  .insight-part {
    flex-direction: column;
    gap: 64px;
  }
  .insight-dialog {
    padding: 36px;
    width: 300px;
    border-radius: 32px;
  }
  .insight-dialog p {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
  }
  .functional-map img {
    position: relative;
    width: 90%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 48px 0;
  }
  .flow-chart-box {
    background: #f6f6f6;
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 24px 36px;
    border-radius: 48px;
    margin: 48px 0;
  }
  .flow-chart-box h2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 16px;
    border-bottom: 2px #c3b8e4 solid;
  }
  .flow-chart-box img {
    width: 90%;
    height: auto;
    margin: 36px 0;
  }
  .color-box {
    width: 84px;
    height: 84px;
    border-radius: 12px;
    margin-bottom: 8px;
  }
  .color-box-long {
    width: 192px;
    height: 84px;
    border-radius: 12px;
    margin-bottom: 8px;
  }
  .design-system-title {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1.5rem;
    margin-top: 48px;
    margin-bottom: 24px;
  }
  .design-system h3 {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.75rem;
    margin-bottom: 12px;
  }
  .design-system p {
    font-size: 16px;
  }
  .design-system .color {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .design-system .typo-type {
    font-size: 176px;
    line-height: 176px;
  }
  .design-system .typo-font-size {
    text-align: right;
    padding-right: 8px;
  }
  .color-box-mgr-push {
    margin-right: 16px;
  }
  .neutral-color-flex {
    margin-bottom: 126px;
  }
  .component-bg {
    padding: 0 0 96px 0;
    margin-top: 64px;
  }
  .design-system-component h3 {
    font-size: 24px;
    font-weight: 700;
  }
  .design-system-component p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .component-wrapper img {
    width: 100%;
  }
  .component-wrapper .component-content {
    margin-right: 24px;
  }
  .component-part-1-2-group {
    flex-direction: row;
    width: 100%;
    height: auto;
  }
  .component-part-1-2-group .component-part-1 {
    flex-direction: column;
  }
  .wireframe-bg {
    padding-bottom: 96px;
  }
  .w-flex-1,
.w-flex-2,
.w-flex-3 {
    gap: 36px;
    top: -200px;
  }
  .wireframe-cont {
    width: 200px;
    height: 435px;
  }
  .wireframe-screen-1 {
    top: 350px;
    left: -40%;
  }
  .wireframe-screen-2 {
    top: 250px;
    left: -40%;
  }
  .wireframe-screen-3 {
    top: 150px;
    left: -40%;
  }
  .wireframe-screen-4 {
    top: 350px;
    left: 9%;
  }
  .wireframe-screen-5 {
    top: 250px;
    left: 9%;
  }
  .wireframe-screen-6 {
    top: 150px;
    left: 9%;
  }
  .wireframe-screen-7 {
    top: 50px;
    left: 9%;
  }
  .wireframe-screen-8 {
    top: 350px;
    left: 58%;
  }
  .wireframe-screen-9 {
    top: 250px;
    left: 58%;
  }
  .iframe {
    width: 100%;
    height: 600px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media screen and (max-width: 960px) and (min-width: 761px) {
  .navbar-rwd-web,
.wireframe-rwd-web {
    display: block;
  }
  .navbar-rwd-phone,
.wireframe-rwd-phone {
    display: none;
  }
  .busy-bus-header-bg {
    height: 360px;
  }
  .busy-bus-header-cont {
    height: auto;
  }
  .busy-bus-header-cont {
    height: auto;
  }
  .logo-image {
    width: 100px;
    height: auto;
  }
  .busy-bus-logo {
    padding-top: 0;
  }
  .busy-bus-logo .logo-text-cont {
    padding: 2rem;
  }
  .busy-bus-logo .logo-text-cont h1 {
    font-size: 2.75rem;
    letter-spacing: 0.75rem;
    font-weight: 700;
  }
  .busy-bus-logo .logo-text-cont p {
    font-size: 1.5rem;
    letter-spacing: 0.9rem;
  }
  .about-busy-bus,
.goals-cont,
.persona,
.user-insight-cont,
.functional-map,
.flow-chart,
.design-system,
.design-system-component,
.wireframe {
    max-width: 640px;
  }
  .header-phone-img {
    width: 300px;
    height: auto;
  }
  .title-uiux-light,
.title-uiux-dark {
    font-size: 2rem;
    letter-spacing: 1.25rem;
  }
  .title-uiux-light::before,
.title-uiux-dark::before {
    top: 1.5rem;
    left: -0.75rem;
    width: 50%;
    height: 24px;
  }
  .about-busy-bus-cont {
    flex-direction: row;
  }
  .about-busy-bus-cont .about-busy-bus-image {
    width: 360px;
    height: 360px;
  }
  .about-busy-bus-cont .about-busy-bus-text {
    width: 50%;
  }
  p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
  }
  .goals-flex {
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
    flex-direction: column;
    gap: 24px;
  }
  .goals-flex .goals-card {
    max-width: 600px;
    height: 180px;
  }
  .goals-flex .goals-card h2 {
    font-size: 1.5rem;
    padding-bottom: 16px;
    letter-spacing: 1.5px;
    padding-bottom: 28px;
  }
  .goals-flex .goals-card h2:before {
    content: "";
    top: 44px;
    left: 0;
    width: 48px;
    height: 4px;
  }
  .goals-flex p {
    font-size: 0.75rem;
    line-height: 1.2rem;
  }
  .persona-wrapper {
    flex-direction: column;
    justify-content: space-around;
    margin: 64px 0;
  }
  .fd-rrc {
    flex-direction: column;
  }
  .persona-left-side {
    flex-direction: row;
    width: 100%;
  }
  .persona-left-side img {
    position: relative;
    margin-top: 16px;
    width: 90%;
    height: auto;
  }
  .persona-left-side .persona-dialog-box-trig {
    position: relative;
    top: 112px;
    left: -17px;
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-top: 64px solid #6d5bd3;
    transform: rotate(-90deg);
  }
  .persona-left-side .persona-dialog-box-trig-cg {
    position: relative;
    top: 112px;
    left: -17px;
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-top: 64px solid #b68900;
    transform: rotate(-90deg);
  }
  .dialog-circle,
.dialog-circle-cg {
    width: 160px;
    height: 160px;
    top: -80px;
    right: -72px;
  }
  .persona-right-side {
    width: 100%;
    margin-top: 64px;
  }
  .fd-rr {
    flex-direction: column;
  }
  .user-insight-avatar {
    bottom: -96px;
    width: 320px;
    height: auto;
  }
  .insight-content {
    margin: 48px 0;
    left: -28px;
  }
  .insight-part {
    flex-direction: column;
    gap: 64px;
  }
  .insight-dialog {
    padding: 28px;
    width: 300px;
    border-radius: 32px;
  }
  .insight-dialog p {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
  }
  .functional-map img {
    position: relative;
    width: 100%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 48px 0;
  }
  .flow-chart-box {
    background: #f6f6f6;
    position: relative;
    width: 105%;
    left: 50%;
    transform: translateX(-50%);
    padding: 24px 36px;
    border-radius: 48px;
    margin: 48px 0;
  }
  .flow-chart-box h2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 16px;
    border-bottom: 2px #c3b8e4 solid;
  }
  .flow-chart-box img {
    width: 90%;
    height: auto;
    margin: 36px 0;
  }
  .color-box {
    width: 84px;
    height: 84px;
    border-radius: 12px;
    margin-bottom: 8px;
  }
  .color-box-long {
    width: 192px;
    height: 84px;
    border-radius: 12px;
    margin-bottom: 8px;
  }
  .design-system-title {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1.5rem;
    margin-top: 0;
    margin-bottom: 24px;
  }
  .design-system h3 {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.75rem;
    margin-bottom: 12px;
  }
  .design-system p {
    font-size: 16px;
  }
  .design-system .color {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .design-system .typo-type {
    font-size: 96px;
    line-height: 96px;
  }
  .design-system .typo-font-size {
    text-align: right;
    padding-right: 8px;
  }
  .color-box-mgr-push {
    margin-right: 16px;
  }
  .neutral-color-flex {
    margin-bottom: 0;
  }
  .typo-table {
    transform: scale(0.8);
  }
  .component-bg {
    padding: 0 0 64px 0;
    margin-top: 32px;
  }
  .design-system-component h3 {
    font-size: 24px;
    font-weight: 700;
  }
  .design-system-component p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .component-wrapper img {
    width: 100%;
  }
  .component-wrapper .component-content {
    margin-right: 24px;
  }
  .component-part-1-2-group {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .component-part-1-2-group .component-part-1 {
    flex-direction: column;
  }
  .component-part-3 {
    flex-direction: column;
  }
  .component-content {
    margin-top: 16px;
  }
  .wireframe-bg {
    padding-bottom: 64px;
  }
  .w-flex-1,
.w-flex-2,
.w-flex-3 {
    gap: 24px;
    top: -200px;
  }
  .wireframe-cont {
    width: 120px;
    height: 261.5px;
  }
  .wireframe-screen-1 {
    top: 250px;
    left: -40%;
  }
  .wireframe-screen-2 {
    top: 200px;
    left: -40%;
  }
  .wireframe-screen-3 {
    top: 150px;
    left: -40%;
  }
  .wireframe-screen-4 {
    top: 250px;
    left: 3%;
  }
  .wireframe-screen-5 {
    top: 200px;
    left: 3%;
  }
  .wireframe-screen-6 {
    top: 150px;
    left: 3%;
  }
  .wireframe-screen-7 {
    top: 100px;
    left: 3%;
  }
  .wireframe-screen-8 {
    top: 250px;
    left: 46%;
  }
  .wireframe-screen-9 {
    top: 200px;
    left: 46%;
  }
  .iframe {
    width: 100%;
    height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media screen and (max-width: 760px) and (min-width: 431px) {
  .navbar-rwd-web,
.wireframe-rwd-web {
    display: block;
  }
  .navbar-rwd-phone,
.wireframe-rwd-phone {
    display: none;
  }
  .busy-bus-header-bg {
    height: 280px;
  }
  .busy-bus-header-cont {
    height: auto;
  }
  .busy-bus-header-cont {
    height: auto;
  }
  .logo-image {
    width: 100px;
    height: auto;
  }
  .busy-bus-logo {
    padding-top: 0;
  }
  .busy-bus-logo .logo-text-cont {
    padding: 1rem;
  }
  .busy-bus-logo .logo-text-cont h1 {
    font-size: 2rem;
    letter-spacing: 0.25rem;
    font-weight: 700;
  }
  .busy-bus-logo .logo-text-cont p {
    font-size: 1rem;
    letter-spacing: 0.65rem;
  }
  .about-busy-bus,
.goals-cont,
.persona,
.user-insight-cont,
.functional-map,
.flow-chart,
.design-system,
.design-system-component,
.wireframe {
    max-width: 90%;
  }
  .header-phone-img {
    width: 200px;
    height: auto;
  }
  .title-uiux-light,
.title-uiux-dark {
    font-size: 1.5rem;
    letter-spacing: 0.75rem;
  }
  .title-uiux-light::before,
.title-uiux-dark::before {
    top: 1.5rem;
    left: -0.75rem;
    width: 50%;
    height: 24px;
  }
  .about-busy-bus-cont {
    flex-direction: row;
  }
  .about-busy-bus-cont .about-busy-bus-image {
    width: 360px;
    height: 360px;
  }
  .about-busy-bus-cont .about-busy-bus-text {
    width: 50%;
  }
  p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
  }
  .goals-flex {
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
    flex-direction: column;
    gap: 24px;
  }
  .goals-flex .goals-card {
    max-width: 600px;
    height: 180px;
  }
  .goals-flex .goals-card h2 {
    font-size: 1.5rem;
    padding-bottom: 16px;
    letter-spacing: 1.5px;
    padding-bottom: 28px;
  }
  .goals-flex .goals-card h2:before {
    content: "";
    top: 44px;
    left: 0;
    width: 48px;
    height: 4px;
  }
  .goals-flex p {
    font-size: 0.75rem;
    line-height: 1.2rem;
  }
  .persona-wrapper {
    flex-direction: column;
    justify-content: space-around;
    margin: 64px 0;
  }
  .persona-dialog-info {
    width: 100%;
    border-collapse: collapse;
  }
  .persona-dialog-info tr:last-child td {
    border-bottom: none;
  }
  .persona-dialog-info td {
    border-bottom: #fbfbfb 1px solid;
    font-size: 16px;
    color: #fbfbfb;
    font-weight: 300;
  }
  .persona-dialog-info td span {
    font-size: 28px;
    color: #fbfbfb;
  }
  .persona-dialog-info td:first-child {
    width: 30%;
  }
  .persona-dialog-info td:nth-child(2) {
    width: 70%;
  }
  .fd-rrc {
    flex-direction: column;
  }
  .persona-left-side {
    flex-direction: row;
    width: 100%;
  }
  .persona-left-side img {
    position: relative;
    margin-top: 16px;
    width: 90%;
    height: auto;
  }
  .persona-left-side .persona-dialog-box-trig {
    position: relative;
    top: 112px;
    left: -17px;
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-top: 64px solid #6d5bd3;
    transform: rotate(-90deg);
  }
  .persona-left-side .persona-dialog-box-trig-cg {
    position: relative;
    top: 112px;
    left: -17px;
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-top: 64px solid #b68900;
    transform: rotate(-90deg);
  }
  .dialog-circle,
.dialog-circle-cg {
    width: 160px;
    height: 160px;
    top: -80px;
    right: -72px;
  }
  .persona-right-side {
    width: 100%;
    margin-top: 64px;
  }
  .fd-rr {
    flex-direction: column;
  }
  .user-insight-avatar {
    bottom: -96px;
    width: 320px;
    height: auto;
  }
  .insight-content {
    margin: 48px 0;
    left: 0;
    flex-direction: column;
  }
  .insight-part {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
  }
  .insight-dialog {
    padding: 28px;
    width: 90%;
    border-radius: 32px;
  }
  .insight-dialog p {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
  }
  .functional-map img {
    position: relative;
    width: 100%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 48px 0;
  }
  .flow-chart-box {
    background: #f6f6f6;
    position: relative;
    width: 105%;
    left: 50%;
    transform: translateX(-50%);
    padding: 24px 36px;
    border-radius: 48px;
    margin: 48px 0;
  }
  .flow-chart-box h2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 16px;
    border-bottom: 2px #c3b8e4 solid;
  }
  .flow-chart-box img {
    width: 90%;
    height: auto;
    margin: 36px 0;
  }
  .color-box {
    width: 84px;
    height: 84px;
    border-radius: 12px;
    margin-bottom: 8px;
  }
  .color-box-long {
    width: 192px;
    height: 84px;
    border-radius: 12px;
    margin-bottom: 8px;
  }
  .design-system-title {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1rem;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .design-system h3 {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.75rem;
    margin-bottom: 12px;
  }
  .design-system p {
    font-size: 16px;
  }
  .design-system .color {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .design-system .typo-type {
    font-size: 96px;
    line-height: 96px;
  }
  .design-system .typo-font-size {
    text-align: right;
    padding-right: 8px;
  }
  .color-box-mgr-push {
    margin-right: 16px;
  }
  .neutral-color-flex {
    margin-bottom: 0;
  }
  .typo-table {
    position: relative;
    margin-top: 24px;
  }
  .component-bg {
    padding: 0 0 64px 0;
    margin-top: 32px;
  }
  .design-system-component h3 {
    font-size: 24px;
    font-weight: 700;
  }
  .design-system-component p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .component-wrapper img {
    width: 100%;
  }
  .component-wrapper .component-content {
    margin-right: 24px;
  }
  .component-part-1-2-group {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .component-part-1-2-group .component-part-1 {
    flex-direction: column;
  }
  .component-part-3 {
    flex-direction: column;
  }
  .component-content {
    margin-top: 16px;
  }
  .wireframe-bg {
    padding-bottom: 64px;
  }
  .w-flex-1,
.w-flex-2,
.w-flex-3 {
    gap: 12px;
    top: -180px;
  }
  .wireframe-cont {
    width: 120px;
    height: 261.5px;
  }
  .wireframe-screen-1 {
    top: 250px;
    left: -40%;
  }
  .wireframe-screen-2 {
    top: 200px;
    left: -40%;
  }
  .wireframe-screen-3 {
    top: 150px;
    left: -40%;
  }
  .wireframe-screen-4 {
    top: 250px;
    left: 3%;
  }
  .wireframe-screen-5 {
    top: 200px;
    left: 3%;
  }
  .wireframe-screen-6 {
    top: 150px;
    left: 3%;
  }
  .wireframe-screen-7 {
    top: 100px;
    left: 3%;
  }
  .wireframe-screen-8 {
    top: 250px;
    left: 46%;
  }
  .wireframe-screen-9 {
    top: 200px;
    left: 46%;
  }
  .iframe {
    width: 100%;
    height: 600px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media screen and (max-width: 430px) {
  .navbar-rwd-web,
.wireframe-rwd-web {
    display: none;
  }
  .navbar-rwd-phone,
.wireframe-rwd-phone {
    display: block;
  }
  .busy-bus-header-bg {
    height: 80vh;
  }
  .busy-bus-header-cont {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .busy-bus-header-cont {
    height: auto;
  }
  .logo-image {
    width: 100px;
    height: auto;
  }
  .busy-bus-logo {
    padding-top: 0;
  }
  .busy-bus-logo .logo-text-cont {
    padding: 1rem;
  }
  .busy-bus-logo .logo-text-cont h1 {
    font-size: 2rem;
    letter-spacing: 0.15rem;
    font-weight: 700;
  }
  .busy-bus-logo .logo-text-cont p {
    font-size: 0.5rem;
    letter-spacing: 0.7rem;
  }
  .about-busy-bus,
.goals-cont,
.persona,
.user-insight-cont,
.functional-map,
.flow-chart,
.design-system,
.design-system-component,
.wireframe {
    max-width: 90%;
    padding: 24px 0 0 0;
  }
  .header-phone-img {
    width: 90%;
    height: auto;
  }
  .title-uiux-light,
.title-uiux-dark {
    font-size: 1.5rem;
    letter-spacing: 0.75rem;
  }
  .title-uiux-light::before,
.title-uiux-dark::before {
    top: 1.5rem;
    left: -0.75rem;
    width: 50%;
    height: 24px;
  }
  .about-busy-bus-cont {
    flex-direction: column-reverse;
  }
  .about-busy-bus-cont .about-busy-bus-image {
    width: 360px;
    height: 265px;
  }
  .about-busy-bus-cont .about-busy-bus-text {
    margin: 24px 0;
    width: 90%;
  }
  p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
  }
  .goals-flex {
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
    flex-direction: column;
    gap: 24px;
  }
  .goals-flex .goals-card {
    max-width: 600px;
    height: 180px;
  }
  .goals-flex .goals-card h2 {
    font-size: 1.5rem;
    padding-bottom: 16px;
    letter-spacing: 1.5px;
    padding-bottom: 28px;
  }
  .goals-flex .goals-card h2:before {
    content: "";
    top: 44px;
    left: 0;
    width: 48px;
    height: 4px;
  }
  .goals-flex .goals-card p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .goals-flex p {
    font-size: 0.75rem;
    line-height: 1.2rem;
  }
  .persona-wrapper {
    flex-direction: column;
    justify-content: space-around;
    margin: 32px 0;
  }
  .persona-dialog-info {
    width: 100%;
    border-collapse: collapse;
  }
  .persona-dialog-info tr:last-child td {
    border-bottom: none;
  }
  .persona-dialog-info td {
    border-bottom: #fbfbfb 1px solid;
    font-size: 16px;
    color: #fbfbfb;
    font-weight: 300;
  }
  .persona-dialog-info td span {
    font-size: 28px;
    color: #fbfbfb;
  }
  .persona-dialog-info td:first-child {
    width: 30%;
  }
  .persona-dialog-info td:nth-child(2) {
    width: 70%;
  }
  .fd-rrc {
    flex-direction: column;
  }
  .persona-left-side {
    flex-direction: column;
    width: 100%;
  }
  .persona-left-side img {
    position: relative;
    margin-top: 16px;
    width: 90%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .persona-left-side .persona-dialog-box-trig {
    position: relative;
    top: -1px;
    width: 0;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-top: 64px solid #6d5bd3;
  }
  .persona-left-side .persona-dialog-box-trig-cg {
    position: relative;
    top: -1px;
    width: 0;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-top: 64px solid #b68900;
  }
  .dialog-circle,
.dialog-circle-cg {
    width: 160px;
    height: 160px;
    top: -80px;
    right: -72px;
  }
  .persona-right-side {
    width: 100%;
    margin-top: 64px;
  }
  .right-side-info-box {
    margin: 0 0 24px 0;
  }
  .right-side-info-box p {
    font-size: 0.75rem;
    letter-spacing: 0px;
    line-height: 1.2rem;
    padding: 6px 8px;
  }
  .fd-rr {
    flex-direction: column;
  }
  .user-insight-avatar {
    bottom: -96px;
    width: 320px;
    height: auto;
  }
  .insight-content {
    margin: 48px 0;
    left: 0;
    flex-direction: column;
  }
  .insight-part {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
  }
  .insight-dialog {
    padding: 12px;
    width: 90%;
    border-radius: 12px;
  }
  .insight-dialog p {
    font-size: 0.75rem;
    line-height: 1.2rem;
    letter-spacing: 0.1rem;
  }
  .functional-map img {
    position: relative;
    width: 100%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 48px 0;
  }
  .flow-chart-box {
    background: #f6f6f6;
    position: relative;
    width: 105%;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 12px;
    border-radius: 16px;
    margin: 24px 0;
  }
  .flow-chart-box h2 {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 8px;
    border-bottom: 2px #c3b8e4 solid;
  }
  .flow-chart-box img {
    width: 90%;
    height: auto;
    margin: 36px 0;
  }
  .color-box {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-bottom: 8px;
  }
  .color-box-long {
    width: 136px;
    height: 60px;
    border-radius: 5px;
    margin-bottom: 8px;
  }
  .design-system-title {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1rem;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .design-system h3 {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5rem;
    margin-bottom: 12px;
  }
  .design-system p {
    font-size: 16px;
  }
  .design-system .color {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .design-system .typo-type {
    font-size: 96px;
    line-height: 96px;
  }
  .design-system .typo-font-size {
    text-align: right;
    padding-right: 8px;
  }
  .color-box-mgr-push {
    margin-right: 16px;
  }
  .neutral-color-flex {
    margin-bottom: 0;
  }
  .typo-table {
    position: relative;
    margin-top: 24px;
  }
  .component-bg {
    padding: 0 0 64px 0;
    margin-top: 32px;
  }
  .design-system-component h3 {
    font-size: 12px;
    font-weight: 500;
  }
  .design-system-component p {
    font-size: 8px;
    font-weight: 300;
    margin-bottom: 8px;
  }
  .component-wrapper img {
    width: 100%;
  }
  .component-wrapper .component-content {
    margin-right: 24px;
  }
  .component-part-1-2-group {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .component-part-1-2-group .component-part-1 {
    flex-direction: column;
  }
  .component-part-3 {
    flex-direction: column;
  }
  .component-content {
    margin-top: 16px;
  }
  .wireframe-bg {
    padding-bottom: 64px;
  }
  .wireframe-cont {
    width: 96px;
    height: 208px;
    margin-bottom: 12px;
  }
  .wireframe-flex {
    transform: rotate(0deg);
    flex-wrap: wrap;
    justify-content: space-between;
    top: 36px;
  }
  .iframe {
    width: 100%;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.fd-c {
  flex-direction: column;
}

.fd-r {
  flex-direction: row;
}

.nowrap {
  flex-wrap: nowrap;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.align-items-center {
  align-items: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}

.inline-block {
  display: inline-block;
}

.z-index-99 {
  z-index: 99;
}

.z-index--99 {
  z-index: -99;
}

.bg-opacity-0 {
  background: rgba(0, 0, 0, 0);
}

.font-weight-100 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
}

.font-weight-300 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
}

.font-weight-400 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}

.font-weight-500 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
}

.font-weight-700 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
}

.font-weight-900 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 900;
}

.pd-8 {
  padding: 8px;
}

.pdl-8 {
  padding-left: 8px;
}

.pdt-8 {
  padding-top: 8px;
}

.pdb-8 {
  padding-bottom: 8px;
}

.pd-16 {
  padding: 16px;
}

.pdl-16 {
  padding-left: 16px;
}

.pdt-16 {
  padding-top: 16px;
}

.pdb-16 {
  padding-bottom: 16px;
}

.pd-24 {
  padding: 24px;
}

.pdl-24 {
  padding-left: 24px;
}

.pdr-24 {
  padding-right: 24px;
}

.pdt-24 {
  padding-top: 24px;
}

.pdb-24 {
  padding-bottom: 24px;
}

.pd-32 {
  padding: 32px;
}

.pdl-32 {
  padding-left: 32px;
}

.pdr-32 {
  padding-right: 32px;
}

.pdt-32 {
  padding-top: 32px;
}

.pdb-32 {
  padding-bottom: 32px;
}

.pdl-64 {
  padding-left: 64px;
}

.pdr-64 {
  padding-right: 64px;
}

.pdt-64 {
  padding-top: 64px;
}

.pdb-64 {
  padding-bottom: 64px;
}

.pdl-96 {
  padding-left: 96px;
}

.pdt-96 {
  padding-top: 96px;
}

.pdb-96 {
  padding-bottom: 96px;
}

.mg-24 {
  margin: 24px;
}

.mgl-24 {
  margin-left: 24px;
}

.mgr-24 {
  margin-right: 24px;
}

.mgt-24 {
  margin-top: 24px;
}

.mgb-24 {
  margin-bottom: 24px;
}

.mg-32 {
  margin: 32px;
}

.mgl-32 {
  margin-left: 32px;
}

.mgr-32 {
  margin-right: 32px;
}

.mgt-32 {
  margin-top: 32px;
}

.mgb-32 {
  margin-bottom: 32px;
}

.mg-48 {
  margin: 48px;
}

.mgl-48 {
  margin-left: 48px;
}

.mgr-48 {
  margin-right: 48px;
}

.mgt-48 {
  margin-top: 48px;
}

.mgb-48 {
  margin-bottom: 48px;
}

.mg-64 {
  margin: 64px;
}

.mgl-64 {
  margin-left: 64px;
}

.mgr-64 {
  margin-right: 64px;
}

.mgt-48 {
  margin-top: 48px;
}

.mgb-48 {
  margin-bottom: 48px;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

a {
  font-size: 1rem;
  font-weight: 100;
  text-decoration: none;
}

h5 {
  font-size: 0.5rem;
  font-weight: 100;
}

hr {
  border: #ffc10e solid 1px;
  margin-bottom: 20px;
}

span {
  line-height: auto;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.5s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

@-webkit-keyframes valueAnim {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes valueAnim {
  100% {
    stroke-dashoffset: 0;
  }
}
.bg-filter {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.title {
  padding: 1rem;
  color: white;
  border-bottom: #ffc10e solid 3px;
  z-index: 0;
}

strong {
  font-weight: 700;
}

.footer {
  background-color: #ffc10e;
  color: #fffcfb;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=uiux.css.map */